/**
 * @file
 * manage-seles-transaction-page.css
 */
th.time-header,
th.crew-header,
th.transaction-no-header,
th.or-header,
th.gross-sales-header,
th.sc-discount-header,
th.pwd-discount-header,
th.ee-discount-header,
th.e-vat-header,
th.net-sales-header,
th.action-header {
  padding: 9px 6px;
  font-size: 13px;
}

th.crew-header {
  width: 11% !important;
}

th.or-header {
  width: 8% !important;
}

th.action-header {
  width: 14% !important;
}

td.ng-binding {
  padding: 10px 7px !important;
}

