<div class="modal-header">
  <h1>Transaction#: {{item.name}}</h1>
</div>
<div class="modal-body" id="modal-body">
   <table>
       <thead>
           <tr>
               <th>Category</th>
               <th>Item</th>
               <th>QTY</th>
               <th>Unit Price</th>
               <th>Amount Total</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>{{item.category}}</td>
               <td>{{item.category}}</td>
               <td>{{item.category}}</td>
               <td>{{item.category}}</td>
               <td>{{item.category}}</td>
           </tr>
       </tbody>
       <tfoot></tfoot>
   </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>