h2.element-invisible {
  display: none;
}

.content {
  padding-top: 0px;
}

.page-admin-commissary-store {
  section.content {
    padding: 0px;
  }
  .view-filters {
    margin: 25px 0px;
  }
  .views-exposed-widgets {
    input[type="text"] {
      width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }
}

.page-commissary,
.page-admin-commissary {
  .view-content {
    min-width: initial;
  }
}

.commissary-quicktabs-tables {
  section.content {
    padding: 0px;
  }
  ul.quicktabs-tabs {
    padding: 0px;
    margin: 0px;
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    margin-top: 10px;
    li {
      width: 50%;
      display: inline-block;
      margin: 0px;
      margin-right: -4px;
      vertical-align: top;
      padding: 0px;
      border-right: 1px solid #e7e7e7;
      a {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        padding: 11px;
        font-family: 'Source Sans Pro Light';
        color: #333;
        font-weight: bold;
        position: relative;
        font-size: 14px;
      }
      &.active,
      &.current {
        a {
          font-family: 'Source Sans Pro Regular';
          color: #fff;
          background: #01bff1;
        }
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .view-header {
    position: relative;
    a {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      color: #fff;
      background: #01bff1;
      z-index: 1;
      padding: 8px 45px;
      border-radius: 5px;
    }
  }
  .view-content {
    margin: 24px 0px 30px;
  }
  .view-filters {
    margin: 25px 0px;
    input[id*="datepicker"] {
      width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }
  table {
    tfoot {
      td {
        height: auto;
        padding: 8px 20px;
      }
    }
  }
}

.page-commissary,
.page-admin-commissary {
  #edit-actions-top {
    input[type="submit"] {
      display: inline-block;
      width: auto;
      border: none;
    }
    #edit-left,
    #edit-right {
      display: inline-block;
      margin-right: -4px;
      width: 50%;
      vertical-align: top;
    }
    #edit-left {
      text-align: left;
      input {
        background: url(../../images/back.png) no-repeat;
        background-size: auto 100%;
        color: #333;
        padding: 4px 10px 4px 40px;
        font-family: 'Source Sans Pro Semibold';
        font-size: 16px;
      }
    }
    #edit-right {
      text-align: right;
      input {
        background: #c2272d;
        color: #fff;
        padding: 7px 68px;
      }
    }
  }
  #edit-form-content {
    padding: 26px 40px;
    .form-item {
      padding: 6px 0px;
      label,
      input {
        padding: 0px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        height: auto;
        font-size: 14px !important;
      }
      label {
        width: 25%;
        color: #333;
        font-family: 'Source Sans Pro Semibold';
        text-transform: none;
      }
      input {
        width: 75% !important;
        background: none;
        border: none !important;
        color: #7d7f83;
      }
    }
    .form-item-targe-date {
      #edit-targe-date {
        float: none;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 0px;
        margin-right: -4px;
        padding: 0px;
        label {
          display: none;
        }
        .form-item {
          padding: 0px;
        }
      }
      input[type="text"] {
        background: url(../../images/calendar.png) no-repeat #fff;
        background-size: auto 72%;
        background-position: 98% 4px;
        width: 250px !important;
        border: 1px solid #e5e6e8 !important;
        border-radius: 3px !important;
        padding: 5px 10px;
      }
    }
  }
  #edit-form-content-bottom,
  #edit-form-content-foot {
    padding: 0px 40px;
  }

  #edit-form-content-bottom {
    position: relative;

    .vertical-tabs {
      background: #fff;
      border: none;
      padding: 30px 26px;
      margin: 0px;
    }

    .vertical-tabs-list,
    .vertical-tabs-panes {
      display: inline-block;
      width: 20%;
      margin-right: -4px;
      vertical-align: top;
      float: none;
      clear: both;
      margin: 0px;
      padding: 0px;
    }

    .vertical-tabs-list {
      border: none;
      padding: 0 10px 0 0;
      margin-top: 45px;

      li {
        background: transparent;
        border: none;
        padding-left: 18px;

        a {
          padding: 11.5px 0px;
          margin-top: 2px;
          color: #333;

          &:hover {
            outline: none;

            strong {
              text-decoration: none;
            }
          }
        }
      }

      li.selected {
        border-left: 5px solid #f3980c;
        border-bottom: 1px solid #e8e8e8;
        padding-left: 13px;

        a {
          strong {
            text-decoration: none;
          }
        }
      }
    }

    .vertical-tabs-panes {
      width: 80%;

      fieldset.vertical-tabs-pane {
        padding: 0px;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          background: #fff;
          color: #444444;
        }

        th {
          border: none;
          vertical-align: top;
          padding-bottom: 25px !important
        }

        td {
          border: none;
          height: auto;
          font-size: 12px;
        }

        th, td {
          padding: 5px 10px;
          &:last-child {
            text-align: right;
          }
        }


        tbody {
          tr:nth-child(even) {
            background: #fff;
          }
        }

        tr {
          th, td {
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              width: 15%;
            }
          }
        }
        .form-disabled {
          input[type="text"] {
            background: none;
            border: none !important;
          }
        }
      }
    }
  }

  #edit-form-content-foot {
    .form-type-textfield {
      background: #e6e6e6;
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      border-top: 1px solid #cccccc;

      &.form-item-total {
        background: #cccccc;
        border: 1px solid #b3b3b3;
      }
      label,
      input {
        padding: 11px 43px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        height: auto;
        font-size: 14px !important;
        width: 50% !important;
        color: #333;
        text-transform: none;
        font-family: 'Source Sans Pro Semibold';
        background: none;
        border: none !important;
      }
      input {
        text-align: right;
      }
    }
    #edit-actions-bottom {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      input[type="submit"] {
        background: #c2272d;
        color: #fff;
        padding: 7px 68px;
        border: none;
        width: auto;
        display: inline-block;
      }
    }
  }
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    background: transparent;
    z-index: 10000 !important;
    border: none;
    overflow-y: auto;
    height: 100vh !important;
    .ui-dialog-titlebar,
    .autodialog-content {
      background: #ffffff;
      margin: 0 auto;
      width: 1050px !important;
    }
    .ui-dialog-titlebar {
      margin-top: 50px;
    }
    #edit {
      position: absolute;
      right: 56px;
      top: 10px;
      a {
        width: auto;
        display: inline-block;
        padding: 5px 14px 5px 34px;
        background: url(../../images/edit.png) no-repeat #f4f4f4;
        background-position: 12% 50%;
        background-size: auto 87%;
        border-radius: 3px !important;
        border: 1px solid #eeeef0;
        margin: 2px;
        font-size: 12px;
        font-family: 'Source Sans Pro Regular';
      }
    }
    #edit-form-top,
    #edit-form-top-com {
      padding: 0 34px;
      margin-bottom: 30px;
      margin-top: 20px;
      #edit-left,
      #edit-right {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-right: -4px;
      }
      .top-wrap {
        label,
        span.field-span,
        #edit-target-transfer-date {
          display: inline-block;
          width: 30% !important;
          vertical-align: top;
          margin-right: -4px;
          font-size: 14px !important;
          float: none;
        }
        label {
          color: #333;
          font-family: 'Source Sans Pro Semibold';
          text-transform: none;
        }
        span.field-span,
        #edit-target-transfer-date {
          width: 70% !important;
          color: #7d7f83 !important;
          font-size: 12px !important;
        }
      }
      div[id*="edit-right"] {
        .top-wrap {
          label {
            width: 50% !important;
          }
          span.field-span,
          #edit-target-transfer-date {
            width: 50% !important;
          }
        }
      }
      .container-inline-date {
        #edit-target-transfer-date {
          label {
            display: none;
          }
        }
      }
    }
    #edit-form-content-foot  {
      padding: 0px;
    }
    table {
      tr {
        th, td {
          padding: 8px 20px;
          font-size: 14px;
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            width: 12%;
          }
        }
        td {
          padding: 3px 20px;
          height: auto;
          font-size: 13px;
        }
      }
      tbody {
        tr:nth-child(even) {
          background: #fff;
        }
      }
      .form-disabled {
        input {
          background: none;
        }
      }
    }
    #edit-form-actions-wrapper {
      margin-top: 30px;
      margin-bottom: 15px;
      div[id*="edit-left"],
      div[id*="edit-right"] {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-right: -4px;
        input {
          width: auto;
          font-family: 'Source Sans Pro Regular';
          border: none;
          display: inline-block;
          padding: 7px 55px;
        }
      }
      div[id*="edit-left"] {
        text-align: left;
        input {
          background: #c1272d;
        }
      }
      div[id*="edit-right"] {
        text-align: right;
      }
    }
    #edit-form-top-com {
      padding: 0 27px;

      .top-wrap {
        margin: 10px 0px;
        span.field-span,
        #edit-target-transfer-date {
          padding-right: 19px;
          margin-bottom: 0px;
        }
      }

      div[id*="edit-left"],
      div[id*="edit-center"],
      div[id*="edit-right"] {
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;

        .form-control {
          height: auto;
          padding-left: 0;
          margin-left: -4px;
          font-size: 13px !important;
        }
      }
      div[id*="edit-left"] {
        width: 25% !important;
        .top-wrap {
          label,
          span.field-span,
          #edit-target-transfer-date {
            width: 50% !important;
            margin-bottom: 0px;
          }
          span.field-span,
          #edit-target-transfer-date {
            margin-top: 2px;
            width: 50% !important;
          }
        }
      }
      div[id*="edit-center"] {
        width: 45% !important;
        //display: none;
        .top-wrap {
          label,
          span.field-span,
          #edit-target-transfer-date {
            width: 55% !important;
            margin-bottom: 0px;
          }
          span.field-span,
          #edit-target-transfer-date {
            width: 45% !important;
          }
        }
      }
      div[id*="edit-right"] {
        width: 30% !important;
        .top-wrap {
          label {
            // padding-left: 10px;
            // margin-bottom: 0px;
          }
          label,
          span.field-span,
          #edit-target-transfer-date {
            width: 65% !important;
          }
          span.field-span,
          #edit-target-transfer-date {
            width: 35% !important;
          }

          .form-item-commissary-delivery-no {
            input {
              margin-top: -5px;
            }
          }
        }
      }
    }
    #commissary-order-request-view-form,
    #commissary-pullout-request-view-form {
      #edit-form-content-foot {
        margin-bottom: 20px;
        .form-type-textfield {
          label,
          input {
            padding: 8px 43px;
            font-size: 13px !important;
          }
          input {
            text-align: right;
          }
        }
      }
      table {
        thead {
          background: #cccccc;

          th {
            border: none;
          }
        }

        tr {
          th, td {
            padding: 3px 20px;
            font-size: 13px;
          }
          td {
            padding: 6px 20px;
          }
        }
      }

      #edit-pullout-date-co {
        label {
          display: none;
        }

        input {
          float: right;
          margin-right: 5px;
          width: 108px !important;
          margin-top: -35px;
          padding-left: 12px;
          padding-right: 12px;
        }
      }

      #edit-commissary-delivery-no {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
    #commissary-pullout-request-view-form {
      #edit-form-top-com {
        div[id*="edit-left"],
        div[id*="edit-right"] {
          width: 50% !important;
        }
        div[id*="edit-center"] {
          display: none;
        }
      }
    }
  }
  #commissary-pullout-form {
    #edit-form-content-foot {
      .form-type-textfield {
        input {
          width: 21.5% !important;
          padding: 11px 10px !important;
          text-align: left;
        }
        label {
          width: 77.5% !important;
        }
      }
    }
  }
}

.page-commissary-pullout-store-request {
  #edit-form-content-bottom {
    .vertical-tabs-panes {
      table {
        tr {
          th, td {
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              width: 13%;
            }
          }
        }
      }
    }
  }
}

#order-request-view-form,
#commissary-order-request-view-form,
#order-pullout-view-form,
#commissary-pullout-request-view-form {
  table {
    th, td {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        width: 17%;
      }
    }
    input[type="text"],
    select {
      border: 1px solid #e6e6e6 !important;
    }
    input[disabled="disabled"],
    select[disabled="disabled"] {
      border: none !important;
      background: #fff;
    }
  }
  .form-item-target-transfer-date {
    label {
      margin-top: 3px;
    }
    input[disabled="disabled"] {
      display: none;
    }
    input {
      background: url(../../images/calendar.png) no-repeat #fff;
      background-position: 95% 50%;
      background-size: auto 54%;
      // padding-right: 35px;
    }
  }
  #edit-form-content-foot {
    .form-item {
      label,
      input {
        padding: 11px 20px;
      }
      label {
        width: 83% !important;
      }
      input {
        width: 17% !important;
        text-align: left;
      }
    }

  }
}

#order-pullout-view-form {
  table {
    th, td {
      &:nth-child(6),
      &:nth-child(7) {
        width: 15%;
      }
      &:nth-child(4),
      &:nth-child(5) {
        width: 12%;
      }
      &:nth-child(7) {
        padding: 3px 5px;
      }
    }
  }
  #edit-form-content-foot {
    .form-item {
      label {
        width: 70% !important;
      }
      input {
        width: 30% !important;
      }
    }
  }
}

#commissary-order-request-view-form,
#commissary-pullout-request-view-form {
  table {
    th, td {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        width: 10%;
      }
      &:nth-child(9) {
        padding: 3px 5px !important;
      }
    }
  }
  .form-item-target-transfer-date {
    input[disabled="disabled"] {
      display: block;
    }
    input {
      background: none;
      border: none !important;
    }
  }
  #edit-form-content-foot {
    .form-item {
      label,
      input {
        padding: 6px 20px !important;
      }
      label {
        width: 70% !important;
      }
      input {
        width: 30% !important;
        text-align: left !important;
      }
    }
  }
}

#commissary-order-request-view-form {
  #edit-target-transfer-date-datepicker-popup-0 {
    padding: 5px 0px;
    height: auto;
    color: #7d7f83 !important;
    font-size: 14px !important;
    font-family: 'Source Sans Pro Regular';
  }
}

.vertical-tabs-title {
  color: #444444;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 65px;
}

.form-type-date-popup input[type="text"]::-webkit-input-placeholder {
  color: #4d4d4d;
}

.form-type-date-popup input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #4d4d4d;
}

.form-type-date-popup input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
  color: #4d4d4d;
}

.form-type-date-popup input[type="text"]:-ms-input-placeholder {  
  color: #4d4d4d;
}


/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {
  
}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  table:not(.table-condensed) {
    th, td {
      padding: 0.2rem 0.3rem !important;
      font-size: 0.3rem !important;
      height: auto;
    }
  }
  table.ui-datepicker-calendar {
    th, td {
      height: auto;
      padding: 1px !important;
      font-size: 0.9rem !important;
    }
  }
  .commissary-quicktabs-tables {
    #views-exposed-form-commissary-request-commissary-order-request,
    #views-exposed-form-commissary-pull-out-store-pullout-status,
    #views-exposed-form-commissary-request-commissary-order-status,
    #views-exposed-form-commissary-pull-out-commissary-pullout-status {
      .views-exposed-widget {
        width: 180px !important;
        input[id*="datepicker"] {
          width: 125px !important;
        }
      }
      .views-exposed-widget.views-submit-button {
        display: none;
      }
    }
    .view-header {
      a {
        padding: 8px 15px;
      }
    }
    table.views-table {
      td, th {
        a.autodialog {
          padding: 0.2rem 0.3rem !important;
          font-size: 0.3rem !important;
        }
      }
    }
  }
  .page-commissary,
  .page-admin-commissary {
    .ui-dialog {
      .ui-dialog-titlebar,
      .autodialog-content {
        width: 100% !important;
      }
      .ui-dialog-titlebar {
        margin-top: 0px;
      }
      table.sticky-enabled {
        td, th {
          input[type="text"],
          select {
            font-size: 0.3rem !important;
            padding: 0.2rem 0.3rem !important;
            height: auto;
          }
        }
      }
      #order-request-view-form,
      #commissary-order-request-view-form,
      #order-pullout-view-form,
      #commissary-pullout-request-view-form,
      #commissary-order-request-view-form {
        #edit-form-content-foot {
          .form-item {
            max-height: 12px;
            label,
            input[type="text"] {
              font-size: 0.3rem !important;
              padding: 0.2rem 0.3rem !important;
            }
          }
        }
      }
    }
    #edit-form-content {
      padding: 12px 5px 26px;
    }
    #edit-form-content-bottom,
    #edit-form-content-foot {
      padding: 0px 5px;
    }
    #edit-form-content-bottom {
      .vertical-tabs {
        padding: 10px 8px;
      }
      .vertical-tabs-list {
        margin-top: 1rem;
        li {
          padding-left: 0.4rem;
          a {
            padding: 0.2rem 0.3rem;
            font-size: 0.3rem;
          }
          &.selected {
            border-left: 1px solid #f3980c;
            border-bottom: 1px solid #e8e8e8;
            padding-left: 0.2rem;
          }
        }
      }
      .vertical-tabs-panes {
        table {
          th {
            padding-bottom: 0.6rem !important;
          }
          th, td {
            input[type="text"],
            select {
              font-size: 0.3rem !important;
              padding: 0.2rem 0.06rem;
              height: auto;
            } 
            &:nth-of-type(1) {
              width: 20% !important;
            }
            &:nth-of-type(2) {
              width: 20% !important;
            }
            &:nth-of-type(3) {
              width: 10% !important;
            }
            &:nth-of-type(4) {
              width: 10% !important;
            }
            &:nth-of-type(5) {
              width: 10% !important;
            }
            &:nth-of-type(6) {
              text-align: left;
              width: 30% !important;
            }
          }
        }
      }
    }
    #edit-form-content-foot {
      .form-type-textfield {
        height: 12px;
        input,
        label {
          font-size: 0.3rem !important;
          padding: 0.2rem 8px !important; 
        }
      }
    }

    #commissary-pullout-form {
      #edit-form-content-foot {
        .form-type-textfield {
          input{
            padding: 0.2rem 20px 0.2rem 0rem !important;
            width: 31.5% !important;
          }
          label {
            width: 68.5% !important;
          }
        }
      }
    }
  }
  .vertical-tabs-title {
    font-size: 0.3rem;
    top: 11px;
    left: 14px;
  }  
}

@media (max-width: 950px) {
  .page-commissary,
  .page-admin-commissary {
    .ui-dialog {
      #edit-form-top-com {
        label {
          padding-right: 10px;
        }
        div[id*="edit-left"] {
          width: 100% !important;
        }
        div[id*="edit-center"] {
          width: 100% !important;
          .top-wrap {
            label,
            span.field-span,
            #edit-target-transfer-date {
              width: 50% !important;
            }
            span.field-span,
            #edit-target-transfer-date {
              width: 50% !important;
            }
          }
        }
        div[id*="edit-right"] {
          width: 100% !important;
          .top-wrap {
            label,
            span.field-span,
            #edit-target-transfer-date {
              width: 50% !important;
            }
            span.field-span,
            #edit-target-transfer-date {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {

}

@media (max-width: 767px) {
  .page-commissary,
  .page-admin-commissary {
    #edit-form-content {
      .form-item {
        label,
        input {
          width: 50% !important;
        }
      }
    } 
  }
}

@media (max-width: 580px) {
  .page-commissary,
  .page-admin-commissary {
    .ui-dialog {
      .autodialog-content {
        padding: 12px 30px;
      }
      #edit-form-top,
      #edit-form-top-com {
        padding: 0 0px;
        #edit-left,
        #edit-right {
          width: 100%;
        }
        .top-wrap {
          label,
          span.field-span,
          #edit-target-transfer-date {
            width: 50% !important;
          }
          span.field-span,
          #edit-target-transfer-date {
            width: 50% !important;
          }
        }
      }
      #commissary-pullout-request-view-form {
        #edit-form-top-com {
          div[id*="edit-left"],
          div[id*="edit-right"] {
            width: 100% !important;
          }
        }
      }
    }
    #edit-form-content {
      .form-item-targe-date {
        input[type="text"] {
          width: 100% !important;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .commissary-quicktabs-tables {
    #views-exposed-form-commissary-request-commissary-order-request,
    #views-exposed-form-commissary-pull-out-store-pullout-status {
      .views-exposed-widget {
        width: 75% !important;
        input[id*="datepicker"] {
          width: 290px !important;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .commissary-quicktabs-tables {
    #views-exposed-form-commissary-request-commissary-order-request,
    #views-exposed-form-commissary-pull-out-store-pullout-status {
      .views-exposed-widget {
        input[id*="datepicker"] {
          width: 250px !important;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .commissary-quicktabs-tables {
    ul.quicktabs-tabs {
      li {
        width: 50%;
        a {
          padding: 10px 5px;
          font-size: 11px;
        }
      }
    }
    #views-exposed-form-commissary-request-commissary-order-request,
    #views-exposed-form-commissary-pull-out-store-pullout-status {
      .views-exposed-widget {
        width: 70% !important;
        input[id*="datepicker"] {
          width: 188px !important;
        }
      }
    }
    #views-exposed-form-commissary-request-commissary-order-status,
    #views-exposed-form-commissary-pull-out-commissary-pullout-status {
      .views-exposed-widget {
        width: 100% !important;
        input[id*="datepicker"] {
          width: 314px !important;
        }
      }
    }
  }
  .page-commissary,
  .page-admin-commissary {
    #edit-actions-top {
      #edit-right {
        input {
          padding: 7px 35px;
        }
      }
    }
    #edit-form-content {

    }
  }
}

@media (max-width: 380px) {
  .commissary-quicktabs-tables {
    #views-exposed-form-commissary-request-commissary-order-request,
    #views-exposed-form-commissary-pull-out-store-pullout-status {
      .views-exposed-widget {
        width: 66% !important;
        input[id*="datepicker"] {
          width: 165px !important;
        }
      }
    }
    #views-exposed-form-commissary-request-commissary-order-status,
    #views-exposed-form-commissary-pull-out-commissary-pullout-status {
      .views-exposed-widget {
        input[id*="datepicker"] {
          width: 280px !important;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .commissary-quicktabs-tables {
    #views-exposed-form-commissary-request-commissary-order-request,
    #views-exposed-form-commissary-pull-out-store-pullout-status {
      .views-exposed-widget {
        width: 63% !important;
        input[id*="datepicker"] {
          width: 133px !important;
        }
      }
    }
    #views-exposed-form-commissary-request-commissary-order-status,
    #views-exposed-form-commissary-pull-out-commissary-pullout-status {
      .views-exposed-widget {
        input[id*="datepicker"] {
          width: 245px !important;
        }
      }
    }
  }
  .page-commissary,
  .page-admin-commissary {
    .ui-dialog {
      .autodialog-content {
        padding: 12px 25px;
      }
    }
  }
}

