h2.element-invisible {
  display: none;
}

.content {
  padding: 0px;
}
section.content {
  padding: 0px 15px;
  section.content {
    padding: 0px 0px;
  }
}
.row {
  margin: 0px;
}
.col-md-12,
.col-md-6,
.col-md-4 {
  padding: 0px;
}

h3.box-title,
h3.outside-title {
  font-family: 'Source Sans Pro Regular';
  padding: 15px 30px;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  font-size: 18px;
  margin: 0px;
}

h3.outside-title {
  font-family: 'Source Sans Pro Regular';
  padding: 0px 0px 15px;
  border-bottom: none;
}
.box {
  border: none;
  border-radius: 0px;
  margin: 0px;
  .box-header.with-border {
    border: none;
    padding: 0px;
  }
  .box-body {
    padding: 22px 0px;
  }
}

.box-sync {
  .box-body {
    padding: 22px 0px 30px;
  }
  .col-md-4,
  .col-md-6 {
    padding: 0px 30px;
  }
  .progress-group {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .progress.sm {
    margin-bottom: 0px;
    margin-top: 7px;
  }
  .progress-text {
    font-family: 'Source Sans Pro Semibold';
    letter-spacing: 0.3px;
  }
}

.box-com-st-request {
  padding: 37px 0px;
  .col-md-6 {
    padding: 0px 35px;
  }
  .info-box {
    margin-bottom: 30px;
    min-height: 100px;
    &:last-child {
      margin-bottom: 40px;
    }
    .info-box-text {
      font-size: 16px;
    }
    .progress-description {
      font-size: 15px;
    }
    .info-box-icon {
      width: 100px;
      height: 100px;
      i {
        font-size: 55px;
        top: 10px;
        position: relative;
      }
    }
    .info-box-content {
      margin-left: 100px;
      padding: 0px 15px;
      .info,
      .number {
        vertical-align: top;
        display: table;
        height: 100px;
      }
      .info {
        width: 70%;
        float: left;

      }
      .number {
        width: 30%;
        float: right;
        text-align: center;
      }
      .inner,
      .info-box-number {
        display: table-cell;
        vertical-align: middle;
      }
      .info-box-number {
        font-size: 54px;
      }
    }
  }
}

.box-graphs {
  .col-md-6 {
    padding: 0px 15px 0px 0px;
    &:last-child {
      padding: 0px 0px 0px 15px;
    }
    .box {
      margin: 30px 0px;
      &:first-child {
        margin: 0px;
      }
      .box-body {
        padding: 5px 25px 26px;
      }
    }
  }
  .box-title {
    border-bottom: none;
    padding: 18px 30px;
  }
}

.box-by-product-cat,
.box-by-product {
  .box-body {
    position: relative;
    padding: 30px 25px;
    .box-body {
      padding: 0px;
    }
  }
  .table>tbody>tr>td {
    border: none;
    padding: 0px;
    line-height: normal;
  }
  table {
    border: none;
    tr:nth-child(even) {
      background: #fff;
    }
    td, th, tr {
      border: none;
      border-top: none;
      padding: 0px;
      height: auto;
    }
    tr {
      border-bottom: 1px solid #f2f2f2;
      td {
        vertical-align: middle;
        &:nth-child(1) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: right;
          padding-right: 3px;
          color: #929292;
        }
        &:nth-child(4) {
          text-align: left;
          padding-left: 3px;
          font-family: 'Source Sans Pro Bold';
        }
      }
    }
    small.label.pull-right {
      float: none !important;
      width: 25px;
      height: 25px;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      border-radius: 0px;
    }
  }
  .center-title {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 40%;
    bottom: 40%;
    right: 30%;
    left: 30%;;
    h1, h3{
      padding: 0px;
      margin: 0px;
      line-height: normal;
    }
    h1 {
      color: #333333;
      font-family: 'Source Sans Pro Bold';
      font-size: 23px;
    }
    h3 {
      color: #717171;
      font-size: 17px;
    }
  }
}

.box-by-product-cat {
  .box-body {
    .box-body {

    }
  }
  table {
    tr {
      td {
        height: 58px;
        font-size: 17px;
        &:nth-child(1) {
          width: 58px;
        }
        &:nth-child(3) {
          padding-right: 5px;
        }
        &:nth-child(4) {
          width: 80px;
          padding-left: 5px;
        }
      }
    }
  }
  .col-md-6 {
    &:last-child {
      padding-right: 30px;
    }
  }
}

.box-by-product {
  margin-top: 30px;
  .box-body {
    padding: 0px 25px 30px;
  }

  table {
    tr {
      td {
        height: 45px;
      }
    }
    small.label.pull-right {
      width: 20px;
      height: 20px;
    }
  }
  .row {
    margin: 0 -20px;
  }
  .row-pies {
    padding: 20px 0px;
    border-top: 1px solid #f2f2f2;
    margin-top: -1px;
    min-height: 532px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    float: none;
    .box-body {
      border-right: 1px solid #f2f2f2;
      padding-top: 30px;
      &.no-padding{
        padding: 20px !important;
      }
    }
    &:nth-child(3n+0) {
      .box-body {
        border-right: none;
      }
    }
  }
  .center-title {
    top: 47%;
    bottom: 47%;
    right: 30%;
    left: 30%;;
    h1 {
      font-size: 21px;
    }
  }
}

.front.not-logged-in {
  background: #ECEFF4;
}

.user-login-block {
  position: relative;
  height: 100vh;

  h2 {
    display: none;
  }

  .item-list {
    margin: 15px 10px;
    text-align: left;

    li {
      padding: 0;
      margin: 0;
      list-style: none;

      a {
        color: #333333;
      }
    }
  }

  .form {
    padding: 50px;
    text-align: center;

    input {
      border-radius: 100px;

      &[type="text"],
      &[type="password"] {
        padding: 20px;
      }

      &[type="submit"] {
        padding: 10px;
        text-transform: uppercase;
        border: none;
        background: #222D33;
      }
    }

    .captcha {
      label,
      legend,
      .description,
      .field-prefix,
      .fieldset-legend {
        display: none;
      }
    }

    #block-system-main .content {
      display: none;
    }

    .colored-logo {
      width: 175px;
      margin-bottom: 30px;
    }
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;

    a {
      color: #333333;
    }
  }
}

/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {
  .box-by-product {
    .row-pies {
      min-height: 476px;
    }
  }

}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  .box-com-st-request {
    padding: 20px 0px;
    .col-md-6 {
      padding: 0px 0px 0px 5px;
      &:first-child {
        padding: 0px 5px 0px 0px;
      }
    }
    .info-box {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 30px;
      }
      .info-box-icon {
        width: 61px;
        height: 100px;
        i {
          font-size: 36px;
          top: 3px;
        }
      }
      .info-box-content {
        margin-left: 61px;
        padding: 0px 0px;
        .info,
        .number {
          height: 100px;
        }
        .info {
          padding-left: 10px;
        }
        .info-box-number {
          font-size: 40px;
        }
      }
    }
  }

  .box-graphs {
    .col-md-6 {
      &:first-child {
        padding: 0px 5px 0px 0px;
      }
      &:last-child {
        padding: 0px 0px 0px 5px;
      }
      .box {
        margin: 10px 0px;
      }
    }
  }

  .box-by-product {
    margin-top: 10px;
    .row-pies {
      min-height: 418px;
    }
    .center-title {
      top: 44%;
      bottom: 44%;
      right: 33%;
      left: 33%;
      h1 {
        font-size: 14px;
      }
    }
  }

}

@media (max-width: 850px) {
  table {
    th, td {
      padding: 0px 5px 0px 0px !important;
      font-size: 17px !important;
    }
  }
}

/* Ipad - portrait orientation */
@media (max-width: 767px) {
  .content.main-content {
    padding: 0px 15px 15px;
  }
  .box-sync {
    .progress-group {
      &:last-child {
        margin-bottom: 20px;
      }
    }
    .col-md-4 {
      &:last-child {
        .progress-group {
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  .box-com-st-request {
    padding: 20px 0px 0px;
    .col-md-6 {
      padding: 0px 0px 0px 0px;
      &:first-child {
        padding: 0px 0px 0px 0px;
      }
    }
  }
  .box-graphs {
    .col-md-6 {
      &:first-child {
        padding: 0px 0px 0px 0px;
      }
      &:last-child {
        padding: 0px 0px 0px 0px;
      }
    }
  }
  .box-by-product {
    .row-pies {
      min-height: initial;
      .box-body {
        border-right: none;
      }
    }
  }
  .box-by-product-cat {
    .center-title {
      h1 {
        font-size: 17px;
      }
      h3 {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 550px) {
  .user-login-block {
    height: auto;
    .copyright {
      position: relative;
      bottom: auto;
      padding: 0px 0px 15px;
    }
  }
}

@media (max-width: 420px) {
  .box-com-st-request {
    .info-box {
      .info-box-content {
        .info {
          width: 75%;
          .progress-description {
            white-space: initial;
            font-size: 15px;
          }
        }
        .number {
          width: 25%;
        }
        .info-box-number {
          font-size: 30px;
        }
      }
    }
  }

  .box-by-product-cat {
    .col-md-6 {
      &:last-child {
        padding-right: 0px;
      }
    }
    table {
      tr {
        td {
          height: 58px;
          font-size: 14px !important;
        }
      }
      small.label.pull-right {
        width: 15px;
        height: 15px;
      }
    }
    .box-body {
      padding: 15px 10px;
    }
  }

  .box-by-product {
    table {
      tr {
        td {
          font-size: 14px !important;
          &:first-child {
            padding-right: 10px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .box-by-product-cat {
    .center-title {
      h1 {
        font-size: 15px;
      }
      h3 {
        font-size: 12px;
      }
    }
  }
}

/* Height based queries */
@media (max-height: 630px) {
  .user-login-block {
    height: auto;
    .copyright {
      position: relative;
      bottom: auto;
      padding: 0px 0px 15px;
    }
  }
}