/* MODAL DIALOGS */
.ui-widget-overlay {
  z-index: 999;
  opacity: .7;
  filter: Alpha(Opacity=70);
  background: #000;
}

.ui-dialog {
  z-index: 999;
  padding: 0px;
  border-radius: 0px;
  border: none;
  background: #ffffff;

  .ui-dialog-titlebar {
    padding: 12px 24px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    background: #ffffff;
    .ui-dialog-title {
      display: inline-block;
      color: #333;
      font-family: 'Source Sans Pro Regular';
      margin: 0px;
      font-size: 18px;
    }
    .ui-dialog-titlebar-close {
      right: 20px;
      background: none;
      border: none;
    }
  }

  .autodialog-content{
    padding: 12px 24px;
    .box.box-default {
      border: none;
      padding: 0px;
      border-radius: 0px;
      box-shadow: none;
    }
    .box-header {
      display: none;
    }
    .box-body {
      border-radius: 0px;
      padding: 0px;
    }
  }
}

span.peso {
  font-family: 'Source Sans Pro Regular';
  font-size: 12px;
  color: #4D4D4D;
  display: inline-block;
  position: absolute;
  top: 53px;
  left: 12px;
}

.field-hide {
  display: none !important;
}

.left-save {
  float: left;
  background: #e6e6e6;
  border: 1px solid #dadada;
  color: #4f4f4f;
  &:hover {
    background: #e6e6e6 - 10;
    color: #4f4f4f;
    border: 1px solid #dadada;
  }
  &.red {
    background: #dd4b39;
    color: #fff;
    border: none;
    &:hover {
      background: #dd4b39 - 10;
    }
  }
}

form {
  position: relative;
  label {
    color: #999;
    font-family: 'Source Sans Pro Regular';
    font-size: 12px;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="password"],
  select,
  textarea,
  .select2 {
    font-family: 'Source Sans Pro Regular' !important;
    font-size: 12px !important;
    color: #4D4D4D !important;
    border: 1px solid #e6e6e6 !important;
    border-radius: 4px !important;
    width: 100% !important;
  }

  textarea {
    resize: none;
    padding: 6px 12px;
  }

  .form-actions {
    display: block;
    text-align: right;
    input[type="submit"] {
      margin: 25px 0px 0px;
      width: auto;
      display: inline-block;
      padding: 8px 50px;
      font-family: 'Source Sans Pro Light';
    }
  }

  p {
    display: none;
  }
  legend,
  .description,
  .password-strength,
  div.password-confirm,
  .password-suggestions {
    display: none !important;
  }
  .form-wrapper .date-padding {
    padding: 0px;
  }
  .form-item {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .date-no-float,
  .container-inline-date .form-item,
  .container-inline-date .form-item input,
  .date-padding {
    width: 100%;
  }
  .container-inline-date .form-item input,
  .container-inline-date .form-item select,
  .container-inline-date .form-item .select2,
  .container-inline-date .form-item option,
  .container-inline-date > .form-item {
    margin-right: 0px;
  }
  fieldset.date-combo .container-inline-date > .form-item {
    margin-bottom: 0px;
  }

  .select2 {
    width: 100% !important;
    padding: 9px 12px;
    .select2-selection {
      border-radius: 0px;
      background: transparent;
      border: none;
      margin: 0px;
      padding: 0px;
      height: auto;
      .select2-selection__rendered {
        line-height: initial;
        padding: 0px;
        margin: 0px;
      }
    }
    .select2-selection__arrow {
      top: 5px;
    }
  }
}

.select2-container {
  .select2-dropdown {
    border: 1px solid #e6e6e6 !important;
    margin-top: 5px;
    background: #f4f4f4;
    .select2-search {
      display: none;
    }
    ul.select2-results__options {
      max-height: none;
      li.select2-results__option {
        padding: 10px 13px;
      }
    }
  }
}

form .views-exposed-widgets {
  margin: 0 -5px;

  .views-exposed-widget {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    margin-right: 0px;
    vertical-align: top;
    padding: 0px 5px;
  }

  label,
  .description {
    display: none !important;
  }
  input[type="text"] {
    background: url(../../images/magnifier.jpg) no-repeat #fff;
    background-position: right 0px;
    background-size: auto 100%;
    font-style: italic;
  }
  select,
  .select2 {
    background: #f4f4f4;
  }
  input[type="submit"] {
    margin: 0px;
    margin-top: 0px !important;
  }
  select,
  input[type="text"],
  .select2 {
    font-size: 14px !important;
    border-radius: 0px !important;
    height: auto;
    padding: 8px 12px;
  }
  .select2 {
    padding: 9px 12px;
  }
}

form .views-widget {
  select,
  input[type="text"],
  .select2 {
    font-size: 14px !important;
    border-radius: 0px !important;
    height: auto;
    padding: 8px 12px;
  }
}

#user-register-form {
  margin: 0 -5px;

  .field-name-field-firstname,
  .field-name-field-lastname,
  .field-name-field-mobile-number,
  .form-item-mail,
  .field-name-field-gender,
  .field-name-field-birthdate,
  .field-name-field-marital-status,
  .form-item-name,
  .field-name-field-address,
  .form-type-password,
  .field-name-field-date-of-hire,
  .field-name-field-end-of-contract,
  .form-item-user-status,
  .form-item-user-position,
  .field-name-field-account-employee-id,
  .field-name-field-store {
    width: 25%;
    display: inline-block;
    float: left;
    vertical-align: top;
    padding: 7px 5px;
  }
  .field-name-field-address {
    width: 50%;
  }
  .field-name-field-store {
    width: 100%;

    option {
      padding: 4px 0;
    }
  }

  .field-name-field-date-of-hire,
  .field-name-field-end-of-contract,
  .field-name-field-birthdate {
    input[type="text"] {
      background: url(../../images/calendar.png) no-repeat #fff;
      background-position: 95% 50%;
      background-size: auto 54%;
      padding-right: 35px;
    }
  }

  #edit-field-store input[name="field_store_add_more"] {
    display: none;
  }

  #edit-actions {
    float: right;
    display: block;
    margin-top: 0;
  }

  #edit-close {
    float: left;
    width: 20%;
    margin-top: 25px;
    background-color: #e6e6e6;
    border: 1px solid #dadada;
    color: #4f4f4f;

    &:hover {
      background: #dcdcdc;
      color: #4f4f4f;
      border: 1px solid #dadada;
    }
  }
}

#eck-entity-form-add-store-product,
form.edit-inventory-form {

  &.add-inventory-form,
  &.edit-inventory-form {
    .form-item-field-item-inventory,
    .form-item-title,
    [id*="edit-field-item-code"],
    [id*="edit-field-category"],
    .form-item-field-item-inventory-status-und,
    [id*="edit-field-price"],
    [id*="edit-field-price-per-unit"] {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      padding: 10px 5px;
      position: relative;
    }

    .form-item-title,
    [id*="edit-field-category"],
    [id*="edit-field-price"],
    [id*="edit-field-production-measurement"],
    [id*="edit-field-inventory-uom"],
    [id*="edit-field-production-quantity"],
    [id*="entityreference-autofill-field_collection_item-field_inventory---field_initial_quantity"] {
      float: left;
    }

    .form-item-field-price-per-unit-und-0-value,
    .form-item-field-price-und-0-value {
      padding: 10px 0px 0px 40px;
      label {
        margin-left: -40px;
      }
    }

    [id*="edit-field-item-code"],
    .form-item-field-item-inventory-status-und,
    [id*="edit-field-price-per-unit"],
    [id*="edit-field-production-uom"] {
      float: right;
    }

    [id*="edit-uom-label"] {
      width: 100%;
      display: block;
      text-align: center;
      clear: both;
      padding: 17px 0px;
    }

    [id*="edit-field-production-measurement"],
    [id*="edit-field-inventory-uom"],
    [id*="edit-field-production-quantity"],
    [id*="edit-field-production-uom"],
    [id*="entityreference-autofill-field_collection_item-field_inventory---field_initial_quantity"] {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      padding: 0px 5px;
      label {
        display: none;
      }
    }

    [id*="edit-field-accepted-reason"],
    [id*="edit-field-accepted-reason-commissary"] {
      padding: 3px 5px;
    }
  }

}

#eck-entity-form-add-store-cashier-items,
#eck-entity-form-edit-store-product.edit-product-form {
  .add-more {
    position: relative;
    float: left;
    width: 100%;
    display: block;
  }

  .form-item-title,
  [id*="edit-field-product-name"],
  [id*="edit-field-product-code"],
  [id*="edit-field-category"],
  [id*="edit-field-selling-price-w-o-vat"],
  .field-name-field-vat,
  [id*="edit-field-price"] {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 10px 5px;
    position: relative;
  }

  .form-item-title,
  [id*="edit-field-category"],
  [id*="edit-field-price"],
  .field-name-field-vat {
    float: left;
  }

  [id*="edit-field-product-code"],
  [id*="edit-field-selling-price-w-o-vat"] {
    float: right;
  }

  [id*="edit-field-accepted-reason"],
  .field-name-field-components {
    clear: both;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 3px 5px;
  }

  .field-name-field-components {
    margin-top: 20px;
    table thead {
      background: transparent;
    }
    .field-multiple-table {

      border: none;
      thead {
        th {
          border: none;
          text-align: center;
        }
      }
      td,
      tr {
        border: none;
      }
      tr {
        background-color: transparent;
      }
      tbody {
        border: 1px solid #e6e6e6;
        border-bottom: none;
        border-radius: 4px;
      }
      td {
        padding: 0px 15px;
      }

      label {
        margin-bottom: 9px;
      }
      .field-widget-options-select,
      .field-widget-entityreference-autocomplete,
      .field-widget-number,
      .field-type-list-boolean,
      input[type="submit"] {
        display: inline-block;
        float: left;
        padding: 0px 5px 0px 0px;
      }

      .field-name-field-category,
      .field-name-field-item-autofill {
        width: 25%;
      }

      .field-name-field-measurement,
      .field-name-field-production-uom,
      input[type="submit"] {
        width: 15%;
      }

      .field-type-list-boolean {
        width: 5%;
      }

      .form-type-textfield {
        width: 100%;
      }

      input[type="submit"] {
        font-family: 'Source Sans Pro Light';
        padding: 6px 12px;
        float: right;
        font-size: 13px;
      }

      tr:first-child {
        td {
          padding: 15px;
        }
        input[type="submit"],
        .field-type-list-boolean {
          margin-top: 30px;
        }
      }

    }
    .clearfix {
      border: 1px solid #e6e6e6;
      border-top: none;
      display: block;
      clear: both;
      padding: 0px 15px 15px;
      margin: 0px;
      span.plus,
      input[type="submit"] {
        display: inline-block;
        width: auto;
        color: #a7a7a7;
        font-size: 12px;
        background-color: #f4f4f4;
        border: 1px solid #ebebeb;
        font-family: 'Source Sans Pro Regular';
        margin: 0px;
      }
      span.plus {
        padding: 0px 10px;
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;
      }
      input[type="submit"] {
        background-color: #fff;
        border: none;
        vertical-align: top;

        &.field-add-more-submit {
          position: absolute;
          left: 0;
          background-color: transparent;
          text-indent: 30px;
        }
      }
    }
  }

  .form-item-field-selling-price-w-o-vat-und-0-value,
  .form-item-field-vat-und-0-value,
  .form-item-field-price-und-0-value {
    padding: 0px 0px 0px 40px;
    label {
      margin-left: -40px;
    }
  }
  span.peso {
    top: 43px;
  }
}

#eck-entity-form-add-store-store {
  .form-actions {
    text-align: center;
  }

  .field-type-text,
  .form-item-title,
  .field-type-list-text,
  .field-type-taxonomy-term-reference {
    display: inline-block;
    padding: 5px;
  }

  .form-item-title {
    width: 70%;
  }

  [id*="edit-field-location"] {
    width: 100%;
  }

  [id*="edit-field-company"],
  [id*="edit-field-store-franchisee"],
  [id*="edit-field-store-ownership"],
  [id*="edit-field-type-of-store"],
  [id*="edit-field-area"],
  [id*="edit-field-contact-number"],
  [id*="edit-field-store-code"],
  [id*="edit-field-store-status"] {
    width: 33.33%;
  }

  .form-item-title,
  [id*="edit-field-company"],
  [id*="edit-field-store-franchisee"],
  [id*="edit-field-type-of-store"],
  [id*="edit-field-area"],
  [id*="edit-field-store-status"],
  [id*="edit-field-store-code"] {
    float: left;
  }

  [id*="edit-field-store-ownership"],
  [id*="edit-field-contact-number"] {
    float: right;
  }

  [id*="edit-actions"] {
    clear: both;
  }
}

.page-store-manage-attendance {
  #field-collection-item-form {
    [id*="edit-field-attendance-break-out"],
    [id*="edit-field-attendance-break-in"],
    [id*="edit-field-actual-duty-time-out"],
    [id*="edit-field-actual-duty-time-in"]  {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      width: 50%;
      padding: 5px;
    }

    [id*="edit-field-actual-duty-time-out"],
    [id*="edit-field-actual-duty-time-in"] {
      width: 100%;
    }
  }
}

.page-store-manage-inventory,
.page-store-manage-production,
.page-store-manage-sales-transaction,
.page-store-manage-cash-management {
  input[type="number"] {
    width: 100%;
  }
  .modal-header.ng-scope h1 {
    margin: 0px;
    color: #333;
    font-family: 'Source Sans Pro Regular';
    font-size: 18px;
    font-weight: 600;
  }

  .modal-body.ng-scope {
    padding: 40px 15px 50px;
  }
  #modal-body {
    .beginning,
    .production,
    .actual {
      margin: auto;
      width: 50%;
    }
  }
}

.page-store-manage-production {
  #field-collection-item-form {
    .field-type-text-long,
    .field-type-number-float {
      padding: 10px 30px;
    }
  }
}

.page-employee-schedule  {
  .ui-dialog form {
    .form-item {
      padding: 5px;
    }
    #edit-actions {
      text-align: right;
      input {
        display: inline-block;
        width: auto;
      }
    }

  }
}

#manage-transaction-form,
#manage-transaction-void-form {
  table {
    thead {
      background: #cccccc;
      th {
        border: 1px solid #cccccc;
        font-size: 13px;
      }
    }
    tbody {
    }
    th, td {
      width: 20%;
    }
    td {
      font-size: 13px;
      padding: 0px 20px;
      height: auto;
    }
    tbody {
      tr:nth-child(even) {
        background-color: #fff;
      }
    }
  }
  #edit-action-container {
    #edit-action-left,
    #edit-action-right {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      margin-right: -4px;
      margin-top: 40px;
    }
    #edit-action-left {
      text-align: left;
    }
    #edit-action-right {
      text-align: right;
    }
    input[type="submit"] {
      display: inline-block;
      width: auto;
      text-align: center;
      min-width: 200px;
      font-size: 14px;
      font-family: 'Source Sans Pro Light';
    }
  }
}

#manage-transaction-form {
  .form-item-table-sales-0-quantity {
    padding: 4px 0px;
  }
  .form-disabled {
    label,
    input {
      margin: 0px;
      padding: 12px 20px;
      background: #f2f2f2;
      height: auto;
      border-bottom: 1px solid #e6e6e6 !important;
    }
    label {
      border-left: 1px solid #e6e6e6;
      width: 80% !important;
      float: left;
      font-family: 'Source Sans Pro Semibold';
      color: #444;
      text-transform: none;
    }
    input {
      border-right: 1px solid #e6e6e6 !important;
      border-top: none !important;
      border-left: none !important;
      width: 20% !important;
      float: right;
      border-radius: 0px !important;
    }
  }
}
#manage-transaction-void-form {
  #edit-message-container {
    margin: 20px 0px 36px;
    text-align: center;
    font-family: 'Source Sans Pro Regular';
  }
}

#edit-cash-pullout-form,
#edit-cash-deposit-form {
  .field-type-text,
  .field-type-number-float,
  .field-type-text-long {
    padding: 7px 30px;
  }
}

#manage-add-to-vault-form {
  padding-top: 19px;
  table {
    thead {
      background: #cccccc;
      th {
        border: 1px solid #cccccc;
      }
    }
    th, td {
      font-size: 13px;
      height: auto;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        width: 30%;
      }
      &:nth-child(1) {
        width: 40%;
      }
    }
    td {
      padding: 5px 20px;
    }
  }
  .form-item-total {
    background: #cccccc;
    label,
    input {
      padding: 11px 20px;
      margin: 0px;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      height: auto;
      font-size: 13px !important;
      width: 70% !important;
      color: #333;
      text-transform: none;
      font-family: 'Source Sans Pro Semibold';
      background: none;
      border: none !important;
    }
    input {
      width: 30% !important;
    }
  }
  div[id*="edit-actions-container"] {
    margin-top: 20px;
    margin-bottom: 20px;
    div[id*="edit-left"],
    div[id*="edit-right"] {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-right: -4px;
    }
    input {
      width: auto;
      display: inline-block;
      padding: 7px 55px;
    }
    div[id*="edit-right"] {
      text-align: right;
    }
  }
}

.page-commissary,
.page-admin-commissary {
  #edit-actions-top {
    input[type="submit"] {
      display: inline-block;
      width: auto;
      border: none;
    }
    #edit-left,
    #edit-right {
      display: inline-block;
      margin-right: -4px;
      width: 50%;
      vertical-align: top;
    }
    #edit-left {
      text-align: left;
      input {
        background: url(../../images/back.png) no-repeat;
        background-size: auto 100%;
        color: #333;
        padding: 4px 10px 4px 40px;
        font-family: 'Source Sans Pro Semibold';
        font-size: 16px;
      }
    }
    #edit-right {
      text-align: right;
      input {
        background: #c2272d;
        color: #fff;
        padding: 7px 68px;
      }
    }
  }
  #edit-form-content {
    padding: 26px 40px;
    .form-item {
      padding: 6px 0px;
      label,
      input {
        padding: 0px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        height: auto;
        font-size: 14px !important;
      }
      label {
        width: 25%;
        color: #333;
        font-family: 'Source Sans Pro Semibold';
        text-transform: none;
      }
      input {
        width: 75% !important;
        background: none;
        border: none !important;
        color: #7d7f83;
      }
    }
    .form-item-targe-date {
      #edit-targe-date {
        float: none;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 0px;
        margin-right: -4px;
        padding: 0px;
        label {
          display: none;
        }
        .form-item {
          padding: 0px;
        }
      }
      input[type="text"] {
        background: url(../../images/calendar.png) no-repeat #fff;
        background-size: auto 72%;
        background-position: 98% 4px;
        width: 250px !important;
        border: 1px solid #e5e6e8 !important;
        border-radius: 3px !important;
        padding: 5px 10px;
      }
    }
  }
  #edit-form-content-bottom {
    padding: 0px 40px;
    .vertical-tabs {
      background: #fff;
      border: none;
      padding: 30px 26px;
      margin: 0px;
    }
    .vertical-tabs-list,
    .vertical-tabs-panes {
      display: inline-block;
      width: 20%;
      margin-right: -4px;
      vertical-align: top;
      float: none;
      clear: both;
      margin: 0px;
      padding: 0px;
    }
    .vertical-tabs-list {
      border: none;
      padding: 0px 10px 0px 0px;
      li {
        background: transparent;
        border: none;
        padding-left: 18px;
        a {
          padding: 13px 0px;
          color: #333;
          &:hover {
            outline: none;
            strong {
              text-decoration: none;
            }
          }
        }
      }
      li.selected {
        border-left: 5px solid #f3980c;
        border-bottom: 1px solid #e8e8e8;
        padding-left: 13px;
        a {
          strong {
            text-decoration: none;
          }
        }
      }
    }
    .vertical-tabs-panes {
      width: 80%;
      fieldset.vertical-tabs-pane {
        padding: 0px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        thead {
          background: #fff;
          color: #444444;
        }
        th {
          border: none;
          vertical-align: top;
        }
        td {
          border: none;
          height: auto;
          font-size: 12px;
        }
        th, td {
          //width: 20%;
          padding: 5px 10px;
        }
        tbody {
          tr:nth-child(even) {
            background: #fff;
          }
        }
        tr {
          th, td {
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              width: 15%;
            }
          }
        }
        .form-disabled {
          input[type="text"] {
            background: none;
            border: none !important;
          }
        }
      }
    }
  }
  #edit-form-content-foot {
    padding: 0px;
    .form-type-textfield {
      background: #e6e6e6;
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      border-top: 1px solid #cccccc;

      &.form-item-total {
        background: #cccccc;
        border: 1px solid #b3b3b3;
      }
      label,
      input {
        padding: 11px 43px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        height: auto;
        font-size: 14px !important;
        width: 50% !important;
        color: #333;
        text-transform: none;
        font-family: 'Source Sans Pro Semibold';
        background: none;
        border: none !important;
      }
      input {
        text-align: right;
      }
    }
    #edit-actions-bottom {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      input[type="submit"] {
        background: #c2272d;
        color: #fff;
        padding: 7px 68px;
        border: none;
        width: auto;
        display: inline-block;
      }
    }
  }
  #edit {
    position: absolute;
    right: 56px;
    top: 10px;
    a {
      width: auto;
      display: inline-block;
      padding: 5px 14px 5px 34px;
      background: url(../../images/edit.png) no-repeat #f4f4f4;
      background-position: 12% 50%;
      background-size: auto 87%;
      border-radius: 3px !important;
      border: 1px solid #eeeef0;
      margin: 2px;
      font-size: 12px;
      font-family: 'Source Sans Pro Regular';
    }
  }
  #edit-form-top,
  #edit-form-top-com {
    padding: 0 34px;
    margin-bottom: 30px;
    margin-top: 20px;
    #edit-left,
    #edit-right {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-right: -4px;
    }
    .top-wrap {
      label,
      span.field-span,
      #edit-target-transfer-date {
        display: inline-block;
        width: 30% !important;
        vertical-align: top;
        margin-right: -4px;
        font-size: 14px !important;
        float: none;
      }
      label {
        color: #333;
        font-family: 'Source Sans Pro Semibold';
        text-transform: none;
      }
      span.field-span,
      #edit-target-transfer-date {
        width: 70% !important;
        color: #7d7f83 !important;
        font-size: 12px !important;
      }
    }
    div[id*="edit-right"] {
      .top-wrap {
        label {
          width: 50% !important;
        }
        span.field-span,
        #edit-target-transfer-date {
          width: 50% !important;
        }
      }
    }
    .container-inline-date {
      #edit-target-transfer-date {
        label {
          display: none;
        }
      }
    }
  }
  .content {
    table {
      tr {
        th, td {
          padding: 8px 20px;
          font-size: 14px;
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            width: 12%;
          }
        }
        td {
          padding: 3px 20px;
          height: auto;
          font-size: 13px;
        }
      }
      tbody {
        tr:nth-child(even) {
          background: #fff;
        }
      }
      .form-disabled {
        input {
          background: none;
        }
      }
    }
  }

  #edit-form-actions-wrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    div[id*="edit-left"],
    div[id*="edit-right"] {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      margin-right: -4px;
      input {
        width: auto;
        font-family: 'Source Sans Pro Regular';
        border: none;
        display: inline-block;
        padding: 7px 55px;
      }
    }
    div[id*="edit-left"] {
      text-align: left;
      input {
        background: #c1272d;
      }
    }
    div[id*="edit-right"] {
      text-align: right;
    }
  }
  #edit-form-top-com {
    padding: 0 27px;

    .top-wrap {
      margin: 10px 0px;
      span.field-span,
      #edit-target-transfer-date {
        padding-right: 19px;
        margin-bottom: 0px;
      }
    }

    div[id*="edit-left"],
    div[id*="edit-center"],
    div[id*="edit-right"] {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
    }
    div[id*="edit-left"] {
      width: 27% !important;
      .top-wrap {
        label,
        span.field-span,
        #edit-target-transfer-date {
          width: 45% !important;
          margin-bottom: 0px;
        }
        span.field-span,
        #edit-target-transfer-date {
          width: 55% !important;
        }
      }
    }
    div[id*="edit-center"] {
      width: 40% !important;
      .top-wrap {
        label,
        span.field-span,
        #edit-target-transfer-date {
          width: 55% !important;
          margin-bottom: 0px;
        }
        span.field-span,
        #edit-target-transfer-date {
          width: 45% !important;
        }
      }
    }
    div[id*="edit-right"] {
      width: 33% !important;
      .top-wrap {
        label {
          // padding-left: 10px;
          // margin-bottom: 0px;
        }
        label,
        span.field-span,
        #edit-target-transfer-date {
          width: 65% !important;
        }
        span.field-span,
        #edit-target-transfer-date {
          width: 35% !important;
        }
      }
    }
  }
  #commissary-order-request-view-form,
  #commissary-pullout-request-view-form {
    #edit-form-content-foot {
      margin-bottom: 20px;
      .form-type-textfield {
        label,
        input {
          padding: 8px 43px;
          font-size: 13px !important;
        }
        input {
          text-align: right;
        }
      }
    }
    table {
      tr {
        th, td {
          padding: 3px 20px;
          font-size: 13px;
        }
        td {
          padding: 6px 20px;
        }
      }
    }

    input[value="Disapprove"],
    input[value="Cancel"] {
      float: left;
      width: 200px;
      background: #C1272D;
      border: none;
    }

    input[value="Approve"],
    input[value="Save Changes"] {
      float: right;
      width: 200px;
      background: #3C8DBC;
      border: none;
    }
  }
}

#order-request-view-form,
#commissary-order-request-view-form,
#order-pullout-view-form,
#commissary-pullout-request-view-form {
  table {
    th, td {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        width: 17%;
      }
    }
    input[type="text"],
    select {
      border: 1px solid #e6e6e6 !important;
    }
    input[disabled="disabled"],
    select[disabled="disabled"] {
      border: none !important;
      background: #fff;
    }
  }
  .form-item-target-transfer-date {
    label {
      margin-top: 3px;
    }
    input[disabled="disabled"] {
      display: none;
    }
    input {
      background: url(../../images/calendar.png) no-repeat #fff;
      background-position: 95% 50%;
      background-size: auto 54%;
      // padding-right: 35px;
    }
  }
  #edit-form-content-foot {
    .form-item {
      label,
      input {
        padding: 11px 20px;
      }
      label {
        width: 83% !important;
      }
      input {
        width: 17% !important;
        text-align: left;
      }
    }

  }
}

#order-pullout-view-form {
  table {
    th, td {
      &:nth-child(6),
      &:nth-child(7) {
        width: 15%;
      }
      &:nth-child(4),
      &:nth-child(5) {
        width: 12%;
      }
      &:nth-child(7) {
        padding: 3px 5px;
      }
    }
  }
  #edit-form-content-foot {
    .form-item {
      label {
        width: 70% !important;
      }
      input {
        width: 30% !important;
      }
    }
  }
}

#commissary-order-request-view-form,
#commissary-pullout-request-view-form {
  table {
    th, td {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        width: 10%;
      }
      &:nth-child(9) {
        padding: 3px 5px !important;
      }
    }
  }
  .form-item-target-transfer-date {
    input[disabled="disabled"] {
      display: block;
    }
    input {
      background: none;
      border: none !important;
    }
  }
  #edit-form-content-foot {
    .form-item {
      label,
      input {
        padding: 6px 20px !important;
      }
      label {
        width: 70% !important;
      }
      input {
        width: 30% !important;
        text-align: left !important;
      }
    }
  }
}

#commissary-order-request-view-form {
  #edit-target-transfer-date-datepicker-popup-0 {
    padding: 5px 0px;
    height: auto;
    color: #7d7f83 !important;
    font-size: 14px !important;
    font-family: 'Source Sans Pro Regular';
  }
}

form.mi-columns {
  .field-type-number-float,
  .field-type-text-long {
    padding: 0px 0px;
  }
  .field-type-text,
  .field-type-number-float {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    vertical-align: top;
  }
  .field-type-number-float {
    padding-right: 19px;
  }
  .field-name-field-uom {
    width: 15%;
    padding-top: 22px;
  }
  .field-name-field-item {
    width: 35%;
  }
  input[disabled="disabled"] {
    border: none !important;
    background: transparent !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.form-pages {
  section.content {
    padding-top: 0px;
  }
  .region.region-content {
    background: #fff;
    border: 1px solid #f2f2f2;
  }
  ul.nav.nav-tabs {
    display: none;
  }
  #block-system-help {
    display: none;
  }
  &.page-admin-people-create {
    fieldset.date-combo .container-inline-date .date-padding {
      padding: 0px;
    }
  }
  &.page-manage-sales-transaction-sales-transaction-item- {
    #block-system-main {
      .content {
        padding-top: 15px;
      }
    }
  }
}

.page-user-work-schedule {
  form {
    .views-exposed-widgets input[type="text"] {
      background-color: #ffffff;
    }
  }
}

.modal-dialog {
  margin: 100px auto 0px;
}


/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {
  
}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  .page-store-manage-sales-transaction {
    input[type="number"] {
      padding: 0.2rem 0.3rem !important;
    }
  }
}

@media (max-width: 850px) {
  #eck-entity-form-add-store-cashier-items,
  #eck-entity-form-edit-store-product.edit-product-form {
    .field-name-field-components {
      .field-multiple-table {
        th, td {
          padding: 0.9rem 0.8rem !important;
        }
        label {
          font-size: 0.3rem !important;
        }
        th label {
          font-size: 12px !important;
        }
        tr:first-child {
          input[type="submit"],
          .field-type-list-boolean {
            margin-top: 1rem;
          }
        }
      }
    }
  }
  select[id*="edit-field-components-und-"],
  .form-item input[id*="edit-field-components-und-"],
  select[id*="edit-field-components-und-"],
  input[value="Remove"].form-submit {
    font-size: 0.3rem !important;
    padding: 0.5rem 0.3rem !important;
    height: auto;
  }
  .page-store-manage-inventory,
  .page-store-manage-production {
    #modal-body {
      table {
        td, th {
          font-size: 0.3rem !important;
        }
        input[type="number"] {
          padding: 0.2rem 0.3rem !important;
          height: auto;
        }
      }
    }
  }
}

/* Ipad - portrait orientation */
@media (max-width: 767px) {
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: auto !important;
    right: auto;
    .autodialog-content {
      padding: 12px 15px;
    }
  }
  #eck-entity-form-add-store-store {
    [id*="edit-field-company"],
    [id*="edit-field-store-franchisee"],
    [id*="edit-field-store-ownership"],
    [id*="edit-field-type-of-store"],
    [id*="edit-field-area"],
    [id*="edit-field-contact-number"],
    [id*="edit-field-store-code"],
    [id*="edit-field-store-status"] {
      width: 50%;
    }
  }
  #user-register-form {
    .field-name-field-firstname,
    .field-name-field-lastname,
    .field-name-field-mobile-number,
    .form-item-mail,
    .field-name-field-gender,
    .field-name-field-birthdate,
    .field-name-field-marital-status,
    .form-item-name,
    .field-name-field-address,
    .form-type-password,
    .field-name-field-date-of-hire,
    .field-name-field-end-of-contract,
    .form-item-user-status,
    .form-item-user-position,
    .field-name-field-account-employee-id {
      width: 50%;
    }
    .field-name-field-address,
    .field-name-field-store {
      width: 100%;
    }
    #edit-close {
      width: 41%;
    }
  }
  #eck-entity-form-add-store-product,
  form.edit-inventory-form {
    &.add-inventory-form,
    &.edit-inventory-form {
      [id*="edit-field-production-measurement"],
      [id*="edit-field-inventory-uom"],
      [id*="edit-field-production-quantity"],
      [id*="edit-field-production-uom"],
      [id*="entityreference-autofill-field_collection_item-field_inventory---field_initial_quantity"] {
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }
  .modal-dialog {
    margin: 0px auto 0px;
  }
}

@media (max-width: 450px) {
  #eck-entity-form-add-store-cashier-items,
  #eck-entity-form-edit-store-product.edit-product-form {
    .form-item-title,
    [id*="edit-field-product-name"],
    [id*="edit-field-product-code"],
    [id*="edit-field-category"],
    [id*="edit-field-selling-price-w-o-vat"],
    .field-name-field-vat,
    [id*="edit-field-price"] {
      width: 100%;
    }
  }
}

@media (max-width: 380px) {
  .page-user-work-schedule {
    .views-exposed-form {
      .views-exposed-widget {
        width: 100%;
        padding: 0px 6px;
      }
      .views-submit-button {
        display: none;
      }
    }
    #edit-field-schedule-date-value-value-datepicker-popup-0,
    #edit-field-schedule-date-value-1-value-datepicker-popup-0 {
      width: 200px !important;
      font-size: 12px !important;
    }
  }
  .page-store-manage-inventory,
  .page-store-manage-production {
    #modal-body {
      .beginning,
      .production {
        margin: auto;
        width: 80%;
      }
    }
    .modal-footer.ng-scope {
      .button-left,
      .button-right {
        padding: 5px 25px;
      }
    }
  }
}

@media (max-width: 320px) {
  #eck-entity-form-add-store-store {
    [id*="edit-field-company"],
    [id*="edit-field-store-franchisee"],
    [id*="edit-field-store-ownership"],
    [id*="edit-field-type-of-store"],
    [id*="edit-field-area"],
    [id*="edit-field-contact-number"],
    [id*="edit-field-store-code"],
    [id*="edit-field-store-status"],
    .form-item-title {
      width: 100%;
    }
  }
  #user-register-form {
    .field-name-field-firstname,
    .field-name-field-lastname,
    .field-name-field-mobile-number,
    .form-item-mail,
    .field-name-field-gender,
    .field-name-field-birthdate,
    .field-name-field-marital-status,
    .form-item-name,
    .field-name-field-address,
    .form-type-password,
    .field-name-field-date-of-hire,
    .field-name-field-end-of-contract,
    .form-item-user-status,
    .form-item-user-position,
    .field-name-field-account-employee-id,
    .field-name-field-address,
    .field-name-field-store {
      width: 100%;
    }
  }
  #eck-entity-form-add-store-product,
  form.edit-inventory-form {
    &.add-inventory-form,
    &.edit-inventory-form {
      .form-item-field-item-inventory,
      .form-item-title,
      [id*="edit-field-item-code"],
      [id*="edit-field-category"],
      .form-item-field-item-inventory-status-und,
      [id*="edit-field-price"],
      [id*="edit-field-price-per-unit"] {
        width: 100%;
      }
      [id*="edit-field-production-measurement"],
      [id*="edit-field-inventory-uom"],
      [id*="edit-field-production-quantity"],
      [id*="edit-field-production-uom"],
      [id*="entityreference-autofill-field_collection_item-field_inventory---field_initial_quantity"] {
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }
}

