h2.element-invisible {
  display: none;
}

.content {
  padding-top: 0px;
}

.view-content {
  margin: 24px -15px 30px;
	min-width: 100% !important;
}

.view-inventory-summary {
  &.view-display-id-inventory_summary {
    ul.tabs-menu {
      li {
        a {
          padding: 10px 8.5px 15px;
          font-size: 11.6px;
        }
      }
    }
  }
}

.view-production-summary {
  &.view-display-id-production_summary {
    ul.tabs-menu {
      li {
        a {
          padding: 10px 23px 15px;
        }
      }
    }
  }
}

.page-store-attendance {
  .tab-navigations {
    ul.tabs-menu {
      li {
        width: 25%;
      }
    }
  }
}

.page-store-production-summary,
.page-store-inventory-summary {
  .tab-navigations {
    ul.tabs-menu {
      display: table;
      width: 100%;
      li {
        display: table-cell;
        width: auto;
        float: none;
        a {
          font-size: 13px;
          padding: 11px 10px;
        }
      }
    }
  }
  table {
    background: #fff;
  }
}

.page-store-cash-management {
  section.content {
    padding: 0px;
  }
  ul.tabs-menu {
    li {
      width: 20%;
    }
  }
  table {
    background: #fff;
  }
  .modal-dialog {
    table {
      tfoot {
        th, td {
          color: #fff;
          border: none;
        }
      }
    }
  }
}

.reports-store-transfers-inner,
.page-commissary-store {
  section.content {
    padding: 0px;
  }
  .block-quicktabs > h2{
    display: none;
  }
  .block-quicktabs {
    ul.quicktabs-tabs {
      margin: 0px;
      padding: 0px;
      background: #fff;
      margin-top: 10px;
      li {
        display: inline-block;
        margin: 0px -4px 0px 0px;
        vertical-align: top;
        border-right: 1px solid #e7e7e7;
        width: 50%;
        padding: 0px;
        a {
          display: inline-block;
          text-align: center;
          width: 100%;
          margin: 0;
          border-radius: 0px;
          padding: 10px 25px 13px;
          font-family: 'Source Sans Pro Light';
          color: #333;
          font-weight: bold;
          position: relative;
          font-size: 14px;
          border-top: 5px solid #fff;
          border-bottom: 1px solid #e7e7e7;
        }
        &.active,
        &.current {
          a {
            font-family: 'Source Sans Pro Regular';
            border-top: 5px solid #01bff1;
            border-bottom: 1px solid #fff;
          }
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .quicktabs-wrapper {
    background: #fff;
  }
  .quicktabs_main {
    padding: 15px 10px;
  }
  ul.tabs-menu {
    border: 1px solid #eaeaec;
    li {
      width: 33.33%;
      &.active,
      &.current {
        a {
          color: #333;
          background: #e6e6e6;
        }
      }
    }
  }
  .view-filters {
    margin: 25px 0px;
    #edit-field-created-value-value-datepicker-popup-0,
    #edit-field-created-value-value-datepicker-popup-1 {
      // width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }
}

.page-commissary-store {
  .view-content {
    margin: 24px 0px 30px;
  }
}

.dataTables_wrapper {
  position: relative;
  padding: 0px;
  .dt-buttons {
    position: absolute;
    float: none;
    right: 0px;
    bottom: auto;
    top: -62px;
    a {
      &:first-child {
        margin-right: 5px;
      }
      span.ui-button-text {
        padding: 0px;
      }
    }
  }
  table.dataTable.no-footer {
    margin: 0px 0px 1rem 0px;
  }
}

.page-sales-by-system-wide {
  section.content {
    padding: 0px;
  }
  .view-content {
    margin: 24px 0px 30px;
  }
  ul.quicktabs-tabs {
    padding: 0px;
    margin: 0px;
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    margin-top: 10px;
    li {
      width: 25%;
      display: inline-block;
      margin: 0px;
      margin-right: -4px;
      vertical-align: top;
      padding: 0px;
      border-right: 1px solid #e7e7e7;
      a {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        padding: 11px;
        font-family: 'Source Sans Pro Light';
        color: #333;
        font-weight: bold;
        position: relative;
        font-size: 14px;
      }
      &.active,
      &.current {
        a {
          font-family: 'Source Sans Pro Regular';
          color: #fff;
          background: #01bff1;
        }
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .view-filters {
    margin: 25px 0px;
    #edit-field-created-value-value-datepicker-popup-0,
    #edit-field-created-value-value-datepicker-popup-1 {
      // width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
    #edit-field-store-ownership-value-wrapper {
      width: 250px;
    }
  }
  table {
    td {
      height: auto;
      padding: 8px 20px;
    }
  }
  .dataTables_wrapper {
    .dt-buttons {
      top: -77px;
    }
  }
}

.reports-quicktabs-tables {
  section.content {
    padding: 0px;
  }
  ul.quicktabs-tabs {
    padding: 0px;
    margin: 0px;
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    margin-top: 10px;
    li {
      width: 25%;
      display: inline-block;
      margin: 0px;
      margin-right: -4px;
      vertical-align: top;
      padding: 0px;
      border-right: 1px solid #e7e7e7;
      a {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        padding: 11px;
        font-family: 'Source Sans Pro Light';
        color: #333;
        font-weight: bold;
        position: relative;
        font-size: 14px;
      }
      &.active,
      &.current {
        a {
          font-family: 'Source Sans Pro Regular';
          color: #fff;
          background: #01bff1;
        }
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .view-content {
    margin: 24px 0px 30px;
  }
  .view-filters {
    margin: 25px 0px;
    input[id*="datepicker"] {
      // width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }
  table {
    tfoot {
      td {
        height: auto;
        padding: 8px 20px;
      }
    }
  }
}

.page-store-sales-transaction {
  #edit-form-content-foot {
    .form-type-textfield {
      background: #e6e6e6;
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      border-top: 1px solid #cccccc;

      &.form-item-total {
        background: #cccccc;
        border: 1px solid #b3b3b3;
      }
      label,
      input {
        padding: 8px 20px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        height: auto;
        font-size: 13px !important;
        width: 80% !important;
        color: #333;
        text-transform: none;
        font-family: 'Source Sans Pro Semibold';
        background: none;
        border: none !important;
      }
      input {
        text-align: left;
        width: 20% !important;
      }
    }
  }
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    background: transparent;
    z-index: 10000 !important;
    border: none;
    overflow-y: auto;
    height: 100vh !important;
    .ui-dialog-titlebar,
    .autodialog-content {
      background: #ffffff;
      margin: 0 auto;
      width: 800px !important;
    }
    .ui-dialog-titlebar {
      margin-top: 100px;
    }
    .autodialog-content {
      padding: 33px 30px;
    }
    table {
      th {
      }
      td, th {
        height: auto;
        width: 20%;
        font-size: 13px;
      }
      td {
        padding: 8px 20px;
      }
    }
  }
  .modal-dialog {
    table {
      td, th {
        height: auto;
        width: 20%;
        font-size: 13px;
      }
      td {
        padding: 8px 20px;
      }
      tfoot {
        tr td {
          text-align: left;
        }
      }
    }
  }
}

.page-sales-by-store- {
  ul.tabs-menu {
    li {
      width: 25%;
      a {
        padding: 10px;
      }
    }
  }
}

.page-sales-by-system-wide {
  span.input {
    width: 237px;

    input {
      width: 237px !important;
    }
  }

  span.select {
    width: 200px;
  }
}

.page-store-inventory-report,
.page-store-production-report {
  .content {
    padding: 0px 10px 10px;
  }
  .dataTables_wrapper {
    table,
    table.dataTable {
      th, td {
        padding: 9px;
        font-size: 12px;
      }
    }
  }
}

.page-commissary-store-,
.page-store-transfers-store- {
  ul.nav.nav-tabs {
    li {
      margin-right: 0px;
      width: 50%;
    }
  }
  table.dataTable {
    border-bottom: none;
    tr {
      border-right: 1px solid #f0f0f0;
      border-left: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0 !important;
    }
    td {
      border: none;
      border-right: 1px solid #f0f0f0;
      border-left: 1px solid #f0f0f0;
    }
    td.hide-data {
      border: none;
      border-right: none;
      border-left: none;
    }
    tbody tr:nth-child(even) {
      background: #fff;
    }
  }
}

.modal-dialog {
  .modal-header {
    h1 {
      color: #333;
      font-family: 'Source Sans Pro Regular';
      margin: 0px;
      font-size: 18px;
    }
    button.close {
      position: absolute;
      right: 21px;
      top: 16px;
      outline-style: none;
    }
  }
}

.page-product-sales-store,
.page-product-sales-by-system-wide-product-,
.page-product-sales-by-system-wide-category-all,
.page-product-sales-by-system-wide-product-category-all {
  #block-system-main {
    .content {
      padding: 0px;
    }
    .view-id-by_system_wide.view-display-id-by_store {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 1366px) {
  .page-store-attendance,
  .page-store-sales-transaction {
    .dataTables_wrapper {
      table,
      table.dataTable {
        th, td {
          padding: 9px;
        }
      }
    }
  }
  .page-store-inventory-report {
    .dataTables_wrapper {
      table,
      table.dataTable {
        th, td {
          padding: 7px;
          font-size: 11px;
        }
      }
    }
  }
  .page-commissary-store-,
  .page-store-transfers-store- {
    .dataTables_wrapper {
      table,
      table.dataTable {
        th, td {
          padding: 7px 10px;
          font-size: 11px;
        }
      }
    }
  }
}

@media (max-width: 1172px) {
  .page-sales-by-system-wide {
    .dataTables_wrapper {
      .dt-buttons {
        position: relative;
        right: auto;
        bottom: auto;
        top: auto;
      }
    }
  }
}

@media (max-width: 1025px) {
  .page-store-inventory-report,
  .page-commissary-store-,
  .page-store-transfers-store-,
  .page-store-production-report,
  .page-store-sales-transaction {
    table:not(.table-condensed) {
      th, td {
        padding: 0.2rem 0.3rem !important;
        font-size: 0.3rem !important;
        height: auto;
      }
    }
    table.ui-datepicker-calendar {
      th, td {
        height: auto;
        padding: 1px !important;
        font-size: 0.9rem !important;
      }
    }
  }
  .page-store-sales-transaction {
    table:not(.table-condensed) {
      td {
        button {
          padding: 0.2rem 0.3rem;
          font-size: 0.3rem;
        }
      }
    }
  }
  .page-store-cash-management {
    .tab-navigations {
      ul.tabs-menu {
        display: block;
        height: auto;
        border: none;
        background: transparent;
        li {
          display: inline-block;
          vertical-align: top;
          width: 20%;
          margin-right: -4px;
          border-right: none;
          border: 1px solid #e7e7e7;
          background: #fff;
          margin-top: -1px;
          float: none;
          a {
            padding: 10px 5px;
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .page-store-attendance,
  .page-sales-by-store-,
  .page-sales-by-area-,
  .page-sales-by-system-wide,
  .page-product-sales-store,
  .page-product-sales-by-system-wide {
    .tab-navigations {
      ul.tabs-menu {
        height: auto;
        border-bottom: none;
        li {
          display: inline-block;
          margin-right: -4px;
          vertical-align: top;
          width: 50%;
          float: none;
          border-right: none;
          border-bottom: 1px solid #e7e7e7;
          &:nth-child(odd) {
            border-right: 1px solid #e7e7e7;
          }
        }
      }
    }
  }
  .page-store-cash-management {
    .tab-navigations {
      ul.tabs-menu {
        li {
          width: 33.33%;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .page-sales-by-system-wide {
    #group-filter {
      span.input {
        width: 100%;
        input {
          margin: 21px 0px;
        }
      }
      span.select {
        width: 50%;
        margin-right: -4px;
        vertical-align: top;
        padding-left: 5px;
        margin-bottom: 21px;
        &:first-child {
          padding-left: 0px;
          padding-right: 5px;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .page-commissary-store-,
  .page-store-transfers-store- {
    .tab-pane {
      ul.tabs-menu {
        height: 40px;
        li {
          a {
            padding: 11px 5px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .page-store-cash-management {
    table:not(.table-condensed) {
      a.autodialog,
      button.btn {
        padding: 0.1rem 0.3rem;
        font-size: 0.0rem;
        margin: 0px;
        span {
          font-size: 0.3rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .dataTables_wrapper {
    .dt-buttons {
      position: relative;
      float: none;
      right: auto;
      bottom: auto;
      top: auto;
      margin-bottom: 25px;
      a.dt-button {
        margin-right: -4px;
        width: 50%;
        border-radius: 0px;
        vertical-align: top;
        display: inline-block;
        text-align: center;
      }
    }
  }
  table {
    .img-thumbnail {
      padding: 0px;
      border-radius: 0px;
      border: none;
      max-height: 10px;
    }
  }
}

@media (max-width: 767px) {
  .page-store-cash-management {
    .modal-dialog  {
      margin: 0px;
    }
  }
}

@media (max-width: 550px) {
  .page-commissary-store-,
  .page-store-transfers-store- {
    .tab-pane {
      ul.tabs-menu {
        height: auto;
        border: none;
        background: transparent;
        li {
          width: 50%;
          margin-right: -4px;
          display: inline-block;
          float: none;
          background: #f4f4f4;
          border: 1px solid #eaeaec;
          a {
            padding: 7px 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .page-sales-by-system-wide {
    #group-filter {
      span.select {
        width: 100%;
        margin-bottom: 5px;
        &:first-child {
          padding-left: 0px;
          padding-right: 5px;
        }
        &:last-child {
          margin-bottom: 21px;
        }
      }
    }
  }
}


@media (max-width: 420px) {
  .page-store-inventory-report {
    table:not(.table-condensed) {
      th, td {
        padding: 0.2rem !important;
        font-size: 0.2rem !important;
        height: auto;
      }
    }
    table.ui-datepicker-calendar {
      th, td {
        height: auto;
        padding: 1px !important;
        font-size: 0.9rem !important;
      }
    }
  }
  .page-commissary-store-,
  .page-store-transfers-store- {
    ul.nav.nav-tabs {
      li {
        a {
          padding: 8px 10px 15px;
          text-align: center;
          font-size: 12px;
        }
      }
    }
    .tab-pane {
      ul.tabs-menu {
        li {
          width: 100%;
        }
      }
      
    }
  }
  .page-store-cash-management {
    .tab-navigations {
      ul.tabs-menu {
        li {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .page-store-attendance,
  .page-sales-by-store-,
  .page-sales-by-area-,
  .page-sales-by-system-wide,
  .page-product-sales-store,
  .page-product-sales-by-system-wide {
    .tab-navigations {
      ul.tabs-menu {
        li {
          a {
            padding: 10px 5px;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  .page-commissary-store-,
  .page-store-transfers-store- {
    .tab-pane {
      input[type="date"] {
        width: 100% !important;
      }
    }
    table:not(.table-condensed) {
      th, td {
        padding: 0.2rem 0.2rem !important;
        font-size: 0.2rem !important;
      }
    }
  }
}

@media (max-width: 320px) {
  .page-commissary-store- {
    
  }
}