.breadcrumb {
  display: none;
}
.page-manage-employee {
  .breadcrumb {
    display: block;
  }
}

.content {
  padding-top: 0px;
}

.view-header {
  position: absolute;
  right: -15px;
  top: -43px;
  margin-top: 0px;
  width: auto;
  a.btn {
    margin: 0px;
    background-color: #3c8dbc;
    padding: 6px 38px;
  }
}

.view {
  position: relative;
}

.view-id-manage_employee,
.view-id-franchisee {

  &.view-franchisee {
    .views-field-title {
      a, span {
        font-size: 14px;
        color: #000;
        font-weight: 700;
      }
    }
    .box-profile {
      padding-bottom: 6px !important;
    }
    .box-footer {
      a {
        color: #333;
      }
      div  {
        background: #f4f4f4;
        border: 1px solid #e9e9e9;
        padding: 7px 10px 3px;
      }
      span.glyphicon {
        color: #616161;
        font-size: 17px
      }
    }
  }

  .views-field-field-store-ownership {
    div {
      color: #999;
      font-size: 12px;
    }
  }
}

.view-id-manage_product.view-display-id-page,
.view-id-inventory.view-display-id-page {
  .view-content {
    margin: 20px -30px 30px;
    .views-field.views-field-title {
      span {
        height: 100%;
        display: table;
        a {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }

    .views-field-field-item-autofill {
      .field-content {
        height: 100%;
        display: table;
        width: 100%;
        a {
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}

.view-display-id-manage_employee {
  position: relative;
  .views-exposed-widgets {
    #edit-name-wrapper {
      width: 60%;
    }
    #edit-rid-1-wrapper {
      width: 20%;
    }
  }
  .view-header {
    display: none;
  }
}

.view-id-franchisee {
  .views-exposed-widgets {
    #edit-store-title-wrapper {
      width: 30%;
    }
    #edit-field-store-status-value-wrapper {
      width: 20%;
    }
    #edit-field-store-ownership-value-wrapper {
      width: 20%;
    }
    #edit-field-area-tid-wrapper {
      width: 20%;
    }
    .views-submit-button {
      width: 10%;
    }
  }
}

.view-display-id-manage_employee_franchisee {
  .views-exposed-widgets {
    #edit-name-wrapper {
      width: 30%;
    }
    .views-exposed-widget {
      width: 17.5%;
    }
  }
}

.view-id-inventory {
  .views-exposed-widgets {
    #edit-field-store-name-value-wrapper {
      width: 50%;
    }
    #edit-field-category-tid-wrapper {
      width: 20%;
    }
    #edit-field-item-inventory-status-value-wrapper {
      width: 20%;
    }
    .views-submit-button {
      width: 10%;
    }
  }
}

.view-manage-product {
  .views-exposed-widgets {
    #edit-title-wrapper {
      width: 50%;
    }
    #edit-field-category-tid-wrapper {
      width: 20%;
    }
    #edit-field-sub-category-tid-wrapper {
      width: 20%;
    }
    .views-submit-button {
      width: 10%;
    }
  }
}

.ui-dialog {
  p {
    display: none;
  }
  form {
    position: relative;
    margin: 0 -5px;
    legend,
    .description,
    .password-strength,
    div.password-confirm,
    .password-suggestions {
      display: none !important;
    }
    .form-wrapper .date-padding {
      padding: 0px;
    }
    .form-item {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .date-no-float,
    .container-inline-date .form-item,
    .container-inline-date .form-item input,
    .date-padding {
      width: 100%;
    }
    .container-inline-date .form-item input,
    .container-inline-date .form-item select,
    .container-inline-date .form-item option,
    .container-inline-date > .form-item {
      margin-right: 0px;
    }
    fieldset.date-combo .container-inline-date > .form-item {
      margin-bottom: 0px;
    }
  }
}


/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {
  
}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  .view-display-id-manage_employee {
    .views-exposed-widgets {
      #edit-rid-1-wrapper,
      #edit-combine-wrapper {
        width: 50%;
        margin-bottom: 5px;
      }
    }
  }
  .view-id-franchisee {
    .views-exposed-widgets {
      #edit-store-title-wrapper,
      #edit-field-store-status-value-wrapper,
      #edit-field-store-ownership-value-wrapper,
      #edit-field-area-tid-wrapper {
        width: 50%;
        margin-bottom: 5px;
      }
    }
  }
  .view-display-id-manage_employee_franchisee {
    .views-exposed-widgets {
      #edit-name-wrapper,
      .views-exposed-widget {
        width: 50%;
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 420px) {
  .view-header {
    position: relative;
    right: auto;
    top: auto;
    margin: 0 -15px 8px;
    width: auto;
    float: none !important;
  }
}

@media (max-width: 380px) {
  .view-display-id-manage_employee {
    .views-exposed-widgets {
      #edit-rid-1-wrapper,
      #edit-combine-wrapper {
        width: 100%;
      }
    }
  }
  .view-id-franchisee {
    .views-exposed-widgets {
      #edit-store-title-wrapper,
      #edit-field-store-status-value-wrapper,
      #edit-field-store-ownership-value-wrapper,
      #edit-field-area-tid-wrapper {
        width: 100%;
      }
    }
  }
  .view-display-id-manage_employee_franchisee {
    .views-exposed-widgets {
      #edit-name-wrapper,
      .views-exposed-widget {
        width: 100%;
      }
    }
  }
}