section.content-header {
  h1.page-header {
    font-family: 'Source Sans Pro Light';
    font-weight: bold;
    padding-bottom: 0px;
  }
}

h2.element-invisible {
  display: none;
}

ul.nav.nav-tabs,
.region-content {
  background: #fff;
}

ul.nav.nav-tabs {
  border-bottom: 1px solid #f2f2f2;
  li {
    a {
      margin: 0;
      border-radius: 0px;
      border-top: 5px solid #ffffff;
      padding: 10px 30px 15px;
      span {
        font-family: 'Source Sans Pro Regular';
        color: #333;
        font-weight: bold;
        font-size: 14px;
      }
      &:hover {
        border-top: 5px solid #f2f2f2;
      }
    }
    &.active {
      a {
        border-top: 5px solid #01bff1;
      }
    }
  }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border: 1px solid #f2f2f2;
  border-bottom: 1px solid #fff;
}

section.right,
section.left {
  display: inline-block;
  margin-right: -4px;
  width: 40%;
  vertical-align: top;
  padding: 0 15px;
}

section.right {
  width: 60%;
  padding-right: 92px;
}

#eck-entity-form-edit-store-store {

  .form-item {
    label,
    input,
    select,
    .select2 {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
    }
    label {
      width: 30%;
    }
    input,
    select,
    .select2 {
      width: 70% !important;
    }
  }

  label {
    margin-top: 4px;
    font-family: 'Source Sans Pro Bold';
    font-family: 14px;
    color: #505050;
  }

  input[type="text"],
  input[type="password"],
  select,
  .select2 {
    background: #F2F2F2;
    border: 1px solid #E6E6E6;
    font-family: 'Source Sans Pro Light';
    font-size: 13px;
    border-radius: 4px;
  }

  #edit-field-image {
    margin-top: 40px;
    text-align: center;
    label {
      display: none;
    }

    .image-preview,
    .image-widget-data {
      float: none;
      clear: both;
    }

    .image-preview {
      margin-bottom: 20px;
      img {
        border-radius: 100%;
        width: 190px;
        height: auto;
      }
    }
    a, span {
      display: inline-block;
      width: auto;
    }
    .form-type-managed-file {
      width: 230px;
      display: inline-block;
    }
  }

  #edit-actions {
    margin-top: 57px;
    input {
      display: inline-block;
      width: auto;
      padding: 6px 48px;
    }
  }
  .select2 {
    padding: 9px 12px;
    .select2-selection {
      border-radius: 0px;
      background: transparent;
      border: none;
      margin: 0px;
      padding: 0px;
      height: auto;
      .select2-selection__rendered {
        line-height: initial;
        padding: 0px;
        margin: 0px;
      }
    }
    .select2-selection__arrow {
      //top: 5px;
    }
  }
}
.select2-container {
  .select2-dropdown {
    border: 1px solid #e6e6e6 !important;
    margin-top: 5px;
    background: #f4f4f4;
    .select2-search {
      display: none;
    }
    ul.select2-results__options {
      max-height: none;
      li.select2-results__option {
        padding: 10px 13px;
      }
    }
  }
}

.store-basic-information {
  .region.region-content {
    padding: 0px 15px;
    .block {
      display: inline-block;
      margin-left: -4px;
      vertical-align: top;
      padding: 40px 15px;
      .content {
        padding: 0px;
      }
    }
    #block-system-main {
      width: 45%;
    }
    #block-bms-visualization-bar-graph-monthly-performance {
      width: 55%;
    }
    #block-views-my-store-employee-block {
      width: 100%;
    }
  }
}

.entity-store.store-store {
  .content {
    position: relative;
  }
  .picture-wrapper,
  .fields-wrapper {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 50%;
  }
  .picture-wrapper {
    float: left;
  }
  .fields-wrapper {
    width: 50%;
  }
  .field {
    margin: 12px 0px;
    .field-label,
    .field-items {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
    }
    .field-label {
      font-family: 'Source Sans Pro Semibold';
      font-size: 14px;
      color: #4d4d4d;
    }
    .field-items {
      .field-item {
        font-family: 'Source Sans Pro Light';
        font-size: 14px;
        color: #808080;
      }
    }
  }
  .store-image {
    padding: 30px 0px;
    text-align: center;
    img {
      max-width: 190px;
      border-radius: 100%;
    }
  }
}

#block-bms-visualization-bar-graph-monthly-performance,
#block-views-my-store-employee-block {
  h2 {
    margin: 0px;
    font-family: 'Source Sans Pro Regular';
    color: #343434;
    font-size: 18px;
    padding-bottom: 25px;
  }
}

#block-bms-visualization-bar-graph-monthly-performance {
  .content,
  h2 {
    border-left: 1px solid #f2f2f2;
    padding-left: 35px;
  }
  .box.box-primary {
    background: #f2f2f2;
    border: none;
    box-shadow: none;
    .box-body {
      padding: 25px;
    }
  }
}

#block-views-my-store-employee-block {
  border-top: 1px solid #f2f2f2;
  padding: 30px 40px;
  .views-row {
    display: inline-block;
    width: 14.28%;
    vertical-align: top;
    text-align: center;
    margin: 15px -4px 15px 0px;
    a, span {
      display: inline-block;
    }
    img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 100%;
      border: 2px solid #f2f2f2;
    }
    .views-field-name {
      a {
        font-family: 'Source Sans Pro Semibold';
        font-size: 14px;
        color: #333;
        margin-top: 7px;
      }
    }
  }
}

.store-inventory,
.store-products {
  .form-item,
  h2, h3 {
    padding: 0px;
    margin: 0px;
  }
  .form-type-checkbox {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-right: -4px;
    padding: 5px 0px;
    label {
      display: inline-block;
      margin-right: -4px;
    }
    label:not([class='option']) {
      padding: 0px 6px 6px;
      span {
        width: 12px !important;
        height: 12px !important;
        background-size: 12px 12px;
      }
    }
    label.option {
      font-family: 'Source Sans Pro Light';
      width: 80%;
      color: #484848;
      font-size: 13px;
      vertical-align: middle;
      padding: 10px 0px 0px 20px;
    }
  }
  #block-system-main {
    padding: 30px 45px;
    .content {
      padding: 0px;
    }
    #edit-label-1 h3 {
      color: #8b8b8b;
      font-size: 15px;
    }
    #edit-label-2 {
      margin-top: 21px;
      h2 {
        font-family: 'Source Sans Pro Semibold';
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        width: 80%;
      }
      > h2 {
        width: 20%;
      }
    }
    .vertical-tabs {
      margin: 23px 0px;
      padding: 0px;
      border: none;
      .vertical-tabs-list,
      .vertical-tabs-panes {
        display: inline-block;
        margin: 0px -4px 0px 0px;
        vertical-align: top;
        width: 20%;
      }
      .vertical-tabs-list {
        background: transparent;
        border: none;
        li {
          background: transparent;
          border: none;
          a {
            padding: 15px 0px;
            padding-left: 18px;
            color: #333;
            width: 150px;
            &:hover {
              outline: none;
              strong {
                text-decoration: none;
              }
            }
          }
        }
        li.selected {
          padding-bottom: 6px;
          padding-top: 6px;
          a {
            border-left: 5px solid #f3980c;
            border-bottom: 1px solid #e8e8e8;
            padding: 9px 0px 9px 13px;
            strong {
              text-decoration: none;
            }
          }
        }
      }
      .vertical-tabs-panes {
        width: 80%;
      }
      .vertical-tabs-pane {
        padding: 0px;
      }
    }
    #edit-actions {
      text-align: center;
      margin-top: 15px;
      input[type="submit"] {
        width: auto;
        display: inline-block;
        padding: 8px 40px;
      }
    }
  }
}

/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {
  
}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  .store-basic-information {
    .region.region-content {
      .block {
        padding: 10px;
        &:first-child {
          padding-top: 40px;
        }
      }
      #block-system-main,
      #block-bms-visualization-bar-graph-monthly-performance,
      #block-views-my-store-employee-block {
        width: 100%;
      }
      #block-system-main {
        .entity-store.store-store .store-image {
          padding: 12px 0px 40px;
          text-align: center;
        }
      }
      #block-bms-visualization-bar-graph-monthly-performance {
        h2,
        .content {
          border-left: none;
          padding-left: 0px;
        }
      }
      #block-views-my-store-employee-block {
        padding: 30px 15px;
        .views-row {
          width: 25%;
        }
      }
    }
  }
  section.right {
    padding-right: 30px;
    width: 68%;
  }
  section.left {
    width: 32%;
  }
  #eck-entity-form-edit-store-store {
    #edit-field-image {
      .image-preview {
        img {
          width: 137px;
        }
      }
    } 
  }

  .store-inventory,
  .store-products {
    #block-system-main {
      #edit-label-2 {
        h2 {
          width: 30%;
          &:last-child {
            width: 70%;
          }
        }
      }
      .vertical-tabs {
        .vertical-tabs-list {
          width: 30%;
          padding-right: 15px;
          li {
            a {
              width: auto;
            }
          }
        }
        .vertical-tabs-panes {
          width: 70%;
        }
      }
    }
    .form-type-checkbox {
      width: 33.33%;
    }
  }
}

@media (max-width: 950px) {
  ul.nav.nav-tabs {
    border-bottom: none;
    border: 1px solid #f2f2f2;
    background: transparent;
    margin-right: -5px;
    margin-left: -5px;
    li {
      display: inline-block;
      margin-right: -4px;
      float: none;
      vertical-align: top;
      width: 50%;
      border-bottom: none;
      margin-bottom: 7px;
      padding: 0px 5px;
      a {
        border-top: none;
        border-bottom: none;
        padding: 10px 30px;
        background: white;
        text-align: center;
        span {
          color: #333;
        }
        &:hover {
          border-top: none;
        }
      }
      &.active {
        border-bottom: none;
        border: none;
        border-right: none;
        a {
          border-right: none;
          border-top: none;
          background-color: #01bff1;
          border-bottom: none;
          color: #fff;
          span {
            color: #fff;
          }
        }
      }
    }
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: none;
  }

  section.right {
    padding-right: 15px;
    width: 100%;
  }
  section.left {
    width: 100%;
    margin-bottom: 20px;
  }
  #eck-entity-form-edit-store-store {
    #edit-field-image {
      margin-top: 0px;
      .image-preview {
        img {
          width: 197px;
        }
      }
    } 
  }
  .store-inventory,
  .store-products {
    #block-system-main {
      padding: 30px 20px;
      #edit-label-2 {
        h2 {
          font-size: 16px;
        }
      }
    }
    .form-type-checkbox {
      label.option {
        padding: 5px 0px 0px 2px;
      }
    }
  }
}

@media (max-width: 820px) {
  .store-basic-information {
    .region.region-content {
      #block-system-main {
        .entity-store.store-store {
          .picture-wrapper,
          .fields-wrapper {
            float: none;
            width: 100%;
          }
          .fields-wrapper {
            padding-left: 82px;
            margin-bottom: 16px;
          }
        }
      }
      #block-views-my-store-employee-block {
        .views-row {
          width: 33.33%;
        }
      }
    }
  }
  .store-inventory,
  .store-products {
    #block-system-main {
      #edit-label-2 {
        h2 {
          width: 40%;
          &:last-child {
            width: 60%;
          }
        }
      }
      .vertical-tabs {
        .vertical-tabs-list {
          width: 40%;
        }
        .vertical-tabs-panes {
          width: 60%;
        }
      }
    }
    .form-type-checkbox {
      width: 50%;
    }
  }
}

@media (max-width: 480px) {
  .store-basic-information {
    .region.region-content {
      #block-system-main {
        .entity-store.store-store {
          .fields-wrapper {
            padding-left: 29px;
          }
        }
      }
      #block-views-my-store-employee-block {
        .views-row {
          width: 50%;
          img {
            max-width: 80px;
            max-height: 80px;
          }
        }
      }
    }
  }

}

@media (max-width: 420px) {
  ul.nav.nav-tabs {
    li {
      width: 100%;
      a {
        padding: 8px 10px 10px;
        span {
          font-size: 13px;
        }
      }
    }
  }
  #eck-entity-form-edit-store-store {
    .form-item {
      input,
      label,
      .select2 {
        width: 100% !important;
      }
    }
  }
  section.right,
  section.left {
    padding-right: 5px;
    padding-left: 5px;
  }
  .store-inventory,
  .store-products {
    #block-system-main {
      #edit-label-2 {
        h2 {
          width: 50%;
          &:last-child {
            width: 50%;
          }
        }
      }
      .vertical-tabs {
        .vertical-tabs-list {
          width: 50%;
        }
        .vertical-tabs-panes {
          width: 50%;
        }
      }
    }
    .form-type-checkbox {
      width: 100%;
    }
  }
}

@media (max-width: 380px) {
  .store-basic-information {
    .region.region-content {
      #block-system-main {
        .entity-store.store-store {
          .fields-wrapper {
            padding-left: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .store-basic-information {
    .region.region-content {
      #block-system-main {
        .entity-store.store-store {
          .fields-wrapper {
            .field-label,
            .field-items {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}
