h2.element-invisible {
  display: none;
}

.content {
  padding-top: 0px;
}

.page-store-transfer-transfer-in-request-store,
.page-store-transfer-transfer-in-request,
.page-store-transfer-transfer-out-request-store,
.page-store-transfer-transfer-out-request {
  section.content {
    padding: 0px;
  }
  .view-header {
    position: relative;
    a {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      color: #fff;
      background: #01bff1;
      z-index: 1;
      padding: 8px 45px;
      border-radius: 5px;
    }
  }
  .view-filters {
    margin: 25px 0px;
    input[id*="datepicker"] {
      width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }

  #edit-actions-top {
    input[type="submit"] {
      display: inline-block;
      width: auto;
      border: none;
    }
    #edit-left,
    #edit-right {
      display: inline-block;
      margin-right: -4px;
      width: 50%;
      vertical-align: top;
    }
    #edit-left {
      text-align: left;
      input {
        background: url(../../images/back.png) no-repeat;
        background-size: auto 100%;
        color: #333;
        padding: 4px 10px 4px 40px;
        font-family: 'Source Sans Pro Semibold';
        font-size: 16px;
      }
    }
    #edit-right {
      text-align: right;
      input {
        background: #c2272d;
        color: #fff;
        padding: 7px 68px;
      }
    }
  }
  #edit-form-content {
    padding: 26px 40px;
    .form-item {
      padding: 0px 0px;
      label,
      input,
      select {
        padding: 6px 0px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        height: auto;
        font-size: 14px !important;
      }

      select {
        padding: 6px 10px;
        &#edit-branch-store-source {
          margin-top: 8px;
        }
      }
      label {
        width: 25%;
        color: #333;
        font-family: 'Source Sans Pro Semibold';
        text-transform: none;
      }
      input {
        width: 75% !important;
        background: none;
        border: none !important;
        color: #7d7f83;
      }
      select {
        width: 250px !important;
      }
    }
    .form-item-targe-date {
      #edit-targe-date {
        float: none;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 0px;
        margin-right: -4px;
        padding: 0px;
        label {
          display: none;
        }
        .form-item {
          padding: 0px;
        }
      }
      input[type="text"] {
        background: url(../../images/calendar.png) no-repeat #fff;
        background-size: auto 72%;
        background-position: 98% 4px;
        width: 250px !important;
        border: 1px solid #e5e6e8 !important;
        border-radius: 3px !important;
        padding: 5px 10px;
      }
    }
  }

  #edit-form-content-bottom {
    padding: 0 40px;
    position: relative;

    .vertical-tabs {
      background: #fff;
      border: none;
      padding: 30px 26px;
      margin: 0px;
    }

    .vertical-tabs-list,
    .vertical-tabs-panes {
      display: inline-block;
      width: 20%;
      margin-right: -4px;
      vertical-align: top;
      float: none;
      clear: both;
      margin: 0px;
      padding: 0px;
    }

    .vertical-tabs-list {
      border: none;
      padding: 0 10px 0 0;
      margin-top: 45px;

      li {
        background: transparent;
        border: none;
        padding-left: 18px;

        a {
          padding: 13px 0px;
          color: #333;

          &:hover {
            outline: none;

            strong {
              text-decoration: none;
            }
          }
        }
      }

      li.selected {
        border-left: 5px solid #f3980c;
        border-bottom: 1px solid #e8e8e8;
        padding-left: 13px;

        a {
          strong {
            text-decoration: none;
          }
        }
      }
    }

    .vertical-tabs-panes {
      width: 80%;

      fieldset.vertical-tabs-pane {
        padding: 0px;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          background: #fff;
          color: #444444;
        }

        th {
          border: none;
          vertical-align: top;
          padding-bottom: 25px !important;
        }

        td {
          border: none;
          height: auto;
          font-size: 12px;
        }
        th, td {
          //width: 20%;
          padding: 5px 10px;
        }
        tbody {
          tr:nth-child(even) {
            background: #fff;
          }
        }
        tr {
          th, td {
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              width: 15%;
            }
          }
        }
        .form-disabled {
          input[type="text"] {
            background: none;
            border: none !important;
          }
        }
      }
    }
  }
  #edit-form-content-foot {
    padding: 0px 40px;
    .form-type-textfield {
      background: #e6e6e6;
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      border-top: 1px solid #cccccc;

      &.form-item-total {
        background: #cccccc;
        border: 1px solid #b3b3b3;
      }
      label,
      input {
        padding: 11px 43px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        height: auto;
        font-size: 14px !important;
        width: 50% !important;
        color: #333;
        text-transform: none;
        font-family: 'Source Sans Pro Semibold';
        background: none;
        border: none !important;
      }
      input {
        text-align: right;
      }
    }
    #edit-actions-bottom {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      input[type="submit"] {
        background: #c2272d;
        color: #fff;
        padding: 7px 68px;
        border: none;
        width: auto;
        display: inline-block;
      }
    }
  }
  #edit {
    position: absolute;
    right: 56px;
    top: 10px;
    a {
      width: auto;
      display: inline-block;
      padding: 5px 14px 5px 34px;
      background: url(../../images/edit.png) no-repeat #f4f4f4;
      background-position: 12% 50%;
      background-size: auto 87%;
      border-radius: 3px !important;
      border: 1px solid #eeeef0;
      margin: 2px;
      font-size: 12px;
      font-family: 'Source Sans Pro Regular';
    }
  }
  #edit-form-top {
    padding: 0 34px;
    margin-bottom: 30px;
    margin-top: 20px;
    #edit-left,
    #edit-right {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-right: -4px;
    }
    .top-wrap {
      margin: 10px 0px;
      label,
      span.field-span,
      #edit-target-transfer-date {
        display: inline-block;
        width: 30% !important;
        vertical-align: top;
        margin-right: -4px;
        font-size: 14px !important;
        float: none;
        margin-bottom: 0px;
      }
      label {
        color: #333;
        font-family: 'Source Sans Pro Semibold';
        text-transform: none;
      }
      span.field-span,
      #edit-target-transfer-date {
        width: 70% !important;
        color: #7d7f83 !important;
        font-size: 12px !important;
      }
      #edit-target-transfer-date {
        margin-left: -4px;
      }
    }
    div[id*="edit-right"] {
      .top-wrap {
        label {
          width: 50% !important;
        }
        span.field-span,
        #edit-target-transfer-date {
          width: 50% !important;
        }
      }
    }
    .container-inline-date {
      #edit-target-transfer-date {
        label {
          display: none;
        }
      }
    }
  }
  .content {
    table {
      tr {
        th, td {
          padding: 8px 20px;
          font-size: 14px;
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            width: 12%;
          }
        }
        td {
          padding: 3px 20px;
          height: auto;
          font-size: 13px;
        }
      }
      tbody {
        tr:nth-child(even) {
          background: #fff;
        }
      }
      .form-disabled {
        input {
          background: none;
        }
      }
    }
  }

  #edit-form-actions-wrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    div[id*="edit-left"],
    div[id*="edit-right"] {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      margin-right: -4px;
      input {
        width: auto;
        font-family: 'Source Sans Pro Regular';
        border: none;
        display: inline-block;
        padding: 7px 55px;
      }
    }
    div[id*="edit-left"] {
      text-align: left;
      input {
        background: #c1272d;
      }
    }
    div[id*="edit-right"] {
      text-align: right;
    }
  }
  .view-display-id-store_transfer_out_store,
  .view-display-id-store_transfer_in_store {
    .view-filters {
      margin: 0px;
    }
  }
}
.page-store-transfer-transfer-in-request,
.page-store-transfer-transfer-out-request {
  section.content-header {
    h1.page-header {
      //padding-bottom: 0;
    }
  }

  section.content.main-content {
    padding-top: 0;
  }

  section.content {
    padding: 15px;
  }
  .ui-datepicker-header {
    select {
      position: initial !important;
    }
  }
}
.page-store-transfer-transfer-in-request-store,
.page-store-transfer-transfer-out-request-store {
  section.content {
    padding: 0px;
  }
}

#store-transfer-in-form,
#store-transfer-out-form {
  #edit-form-content-bottom {
    .vertical-tabs-panes {
      table {
        td, th {
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

#store-transfer-out-form {
  #edit-form-content-foot {
    padding: 0px 40px !important;
    .form-type-textfield {
      label, input {
        padding: 11px 26px;
      }
      label {
        width: 70% !important;
      }
      input {
        width: 30% !important;
        text-align: right;
        padding: 11px 31px;
      }
    }
  }
}

#store-transfer-out-view-form {
  select[name="store_source"] {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0 !important;
    background: transparent;
    font-size: 14px !important;
    color: #7d7f83 !important;
    height: 19px;
    position: relative;
    top: -2px;
    left: -8px;
  }

  label[for="edit-store-source--2"] {
    width: 28.5% !important;
  }
}

#store-transfer-in-view-form {
  select[name="store_source"] {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0 !important;
    background: transparent;
    font-size: 14px !important;
    color: #7d7f83 !important;
    height: 19px;
    position: relative;
    top: -2px;
    left: -8px;
  }

  label[form="edit-store-source--2"] {
    width: 28.5% !important;
  }
}

#store-transfer-in-view-form,
#store-transfer-out-view-form {
  table {
    th, td {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        width: 17%;
      }
    }
    input[type="text"] {
      border: 1px solid #e6e6e6 !important;
    }
    input[disabled="disabled"] {
      border: none !important;
    }
  }
  .form-item-target-transfer-date {
    label {
      margin-top: 3px;
    }
    input[disabled="disabled"] {
      display: none;
    }
    input {
      background: url(../../images/calendar.png) no-repeat #fff;
      background-position: 95% 50%;
      background-size: auto 54%;
      padding-right: 35px;
    }
  }
  #edit-form-content-foot {
    .form-item {
      label,
      input {
        padding: 11px 20px;
      }
      label {
        width: 83% !important;
      }
      input {
        width: 17% !important;
        text-align: left;
      }
    }

  }
}

.page-store-transfer-transfer-out-request-store {
  #edit-form-top .top-wrap {
    margin: 10px 0 16px 0 !important;
  }
}

.page-store-transfer-transfer-in-request-store {
  #edit-form-top .top-wrap {
    margin: 10px 0 16px 0 !important;
  }
}

.vertical-tabs-title {
  color: #444444;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 65px;
}

.form-type-date-popup input[type="text"]::-webkit-input-placeholder {
   color: #4d4d4d;
}

.form-type-date-popup input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #4d4d4d;
}

.form-type-date-popup input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #4d4d4d;
}

.form-type-date-popup input[type="text"]:-ms-input-placeholder {  
   color: #4d4d4d;
}

.page-store-transfer-transfer-in-request {
  #edit-actions-top {
    margin-top: 17px;
  }
}

/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {
  
}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  table:not(.table-condensed) {
    th, td {
      padding: 0.2rem 0.3rem !important;
      font-size: 0.3rem !important;
      height: auto;
    }
  }
  table.ui-datepicker-calendar {
    th, td {
      height: auto;
      padding: 1px !important;
      font-size: 0.9rem !important;
    }
  }
  .page-store-transfer-transfer-in-request-store,
  .page-store-transfer-transfer-out-request-store {
    .view-header {
      a {
        padding: 8px 20px;
      }
    }
    #views-exposed-form-store-transfer-trans-in-store-transfer-in,
    #views-exposed-form-store-transfer-trans-out-store-transfer-out {
      .views-exposed-widget {
        width: 200px !important;
      }
      .views-submit-button {
        display: none;
      }
    }
    .view-filters {
      input[id*="datepicker"] {
        width: 150px !important;
      }
    }
  }
  .page-store-transfer-transfer-in-request,
  .page-store-transfer-transfer-out-request {
    table {
      td {
        a.autodialog {
          padding: 0.2rem 0.3rem !important;
          font-size: 0.3rem !important;
        }
      }
    }
    #edit-form-content {
      padding: 12px 10px 26px;
    }
    #edit-form-content-bottom,
    #edit-form-content-foot {
      padding: 0px 10px !important;
    }
    #edit-form-content-bottom {
      .vertical-tabs {
        padding: 15px 20px;
        .form-type-textfield {
          input {
            padding: 3px;
          }
        }
      }
      .vertical-tabs-list {
        margin-top: 1rem;
        li {
          padding-left: 0.4rem;
          a {
            padding: 0.2rem 0.3rem;
            font-size: 0.3rem;
          }
          &.selected {
            border-left: 1px solid #f3980c;
            border-bottom: 1px solid #e8e8e8;
            padding-left: 0.2rem;
          }
        }
      }
      .vertical-tabs-panes {
        table {
          th {
            padding-bottom: 0.6rem !important;
          }
          th, td {
            input[type="text"],
            select {
              font-size: 0.3rem !important;
              padding: 0.2rem 0.3rem;
              height: auto;
            } 
          }
        }
      }
    }
    #edit-form-content-foot {
      .form-type-textfield {
        height: 12px;
        input,
        label {
          font-size: 0.3rem !important;
          padding: 0.2rem 20px !important;
        }
      }
    }
    .vertical-tabs-title {
      font-size: 0.3rem;
      top: 17px !important;
      left: 31px;
    } 
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
      width: 100% !important;
      top: 0px !important;
      left: auto !important;
      .ui-dialog-titlebar,
      .autodialog-content {
        width: 100% !important;
      }
      .ui-dialog-titlebar {
        margin-top: 0px;
      }
    }
  }
  #store-transfer-out-form {
    #edit-form-content-foot {
      padding: 0px 10px !important;
    }
  }
  #store-transfer-in-view-form,
  #store-transfer-out-view-form {
    table {
      width: 100% !important;
      input[disabled="disabled"] {
        padding: 0.2rem 0.3rem !important;
        font-size: 0.3rem !important;
        height: auto;
      }
    }
    #edit-form-top {
      padding: 0 20px;
      div[id*="edit-left"],
      div[id*="edit-right"] {
        .top-wrap {
          span.field-span,
          label,
          select {
            width: 50% !important;
            margin-right: -4px;
          }
          label {
            padding-right: 5px;
          }
        }
      }
    }
    #edit-form-content-foot {
      padding: 0px 0px !important;
      .form-type-textfield {
        input,
        label {
          padding: 0.2rem 0.3rem !important;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  
}

@media (max-width: 767px) {
  .page-store-transfer-transfer-in-request-store,
  .page-store-transfer-transfer-out-request-store {
    #edit-form-content {
      .form-item {
        label,
        input {
          width: 50% !important;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .page-store-transfer-transfer-in-request-store,
  .page-store-transfer-transfer-out-request-store {
    .view-header {
      a {
        padding: 8px 15px;
        font-size: 12px;
      }
    }
    #views-exposed-form-store-transfer-trans-in-store-transfer-in,
    #views-exposed-form-store-transfer-trans-out-store-transfer-out {
      .views-exposed-widget {
        width: 170px !important;
        margin-right: 5px !important;
      }
    }
    .view-filters {
      input[id*="datepicker"] {
        width: 120px !important;
      }
    }
    #edit-form-content {
      select#edit-branch-store-source {
        width: 50% !important;
      }
      .form-item-targe-date {
        input[type="text"] {
          width: 100% !important;
        }
      }
    }
  }
  #store-transfer-in-view-form,
  #store-transfer-out-view-form {
    #edit-form-top {
      div[id*="edit-left"],
      div[id*="edit-right"] {
        width: 100%;
      }
    }
  }
}

@media (max-width: 485px) {
  .page-store-transfer-transfer-in-request-store,
  .page-store-transfer-transfer-out-request-store {
    #views-exposed-form-store-transfer-trans-in-store-transfer-in,
    #views-exposed-form-store-transfer-trans-out-store-transfer-out {
      .views-exposed-widget {
        width: 235px !important;
      }
    }
    .view-filters {
      input[id*="datepicker"] {
        width: 160px !important;
      }
    }
  }
}

@media (max-width: 420px) {
  .page-store-transfer-transfer-out-request-store,
  .page-store-transfer-transfer-in-request-store {
    #edit-actions-top  {
      #edit-right {
        input {
          padding: 7px 35px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .page-store-transfer-transfer-in-request-store,
  .page-store-transfer-transfer-out-request-store {
    #views-exposed-form-store-transfer-trans-in-store-transfer-in,
    #views-exposed-form-store-transfer-trans-out-store-transfer-out {
      .views-exposed-widget {
        width: 170px !important;
      }
    }
    .view-filters {
      input[id*="datepicker"] {
        width: 120px !important;
      }
    }
  }
}