h2.element-invisible {
  display: none;
}

.content {
  padding-top: 0px;
}

.view-id-manage_employee.view-display-id-page_1 {
  position: relative;
  .views-exposed-widgets {
    .views-exposed-widget {
      width: 20%;
    }
  }
}

.view-inventory-summary {
  &.view-display-id-manage_inventory {
    ul.tabs-menu {
      li {
        a {
          padding: 10px 8.5px 15px;
          font-size: 11.6px;
        }
      }
    }
  }
}

.view-id-attendance.view-display-id-page_2 {
  .view-content {
    margin: 20px -30px 30px;
  }
}

.page-employee-schedule {
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    background: transparent;
    .ui-dialog-titlebar,
    .autodialog-content {
      background: #ffffff;
      width: 500px !important;
      margin: 0 auto;
    }
    .ui-dialog-titlebar {
      margin-top: 236px;
    }
    .form-actions {
      text-align: center !important;
      input[type="submit"] {
        display: inline-block;
      }
    }
  }
  section.content-header {
    display: none;
  }
  section.content {
    padding: 0px;
    section.content-header {
      padding: 15px 0px 0px;
      display: block;
      h1 {
        font-family: 'Source Sans Pro Light';
        font-weight: bold;
        padding-bottom: 5px;
      }
      .stores-wrapper {
        .store-item {
          display: inline-block;
          background: #999;
          span {
            font-family: 'Source Sans Pro Semibold';
            color: #fff;
            font-size: 14px;
            display: block;
            padding: 5px 10px;
          }
        }
      }
    }
    section.content {
      margin-top: 30px;
    }
    .box.box-solid,
    .box.box-primary {
      border-radius: 0px;
    }
    .box.box-primary {
      border-top: 5px solid #de4b39;
    }
    h4.box-title {
      font-family: 'Source Sans Pro Semibold';
      padding: 10px;
    }
    .box-body {
      padding: 20px;
      button,
      input[type="submit"] {
        font-family: 'Source Sans Pro Light';
        border: none;
        font-size: 15px;

      }
      #add-overtime {
        background-color: #e87a01;
      }
    }
    #calendar-schedule-box {
      input[type="submit"] {
        margin-top: 40px;
      }
    }
    .fc {
      .fc-toolbar {
        margin-bottom: 0px;
      }
      table thead {
        background: transparent;
        .fc-day-number {
          padding-right: 10px;
        }
      }
    }
  }
  .daterangepicker {
    width: 789px;
    .calendar,
    .ranges {
      display: inline-block;
      width: 33.33%;
      vertical-align: top;
      margin-right: -4px;
      padding: 10px;
    }
    .daterangepicker_start_input,
    .daterangepicker_end_input {
      display: block;
      width: 100%;
      label,
      input {
        width: 100%;
      }
    }
    .daterangepicker_end_input {
      padding-left: 0px !important;
    }
  }
  .fc {
    th, td {
      height: auto;
    }
    a.fc-event {
      //display: none;
    }
    a.autodialog {
      background: #3c8dbc;
      padding: 5px;
      margin: 0px;
      border: none;
      box-sizing: border-box;
      width: 100%;
      span {
        color: #fff;
        font-family: 'Source Sans Pro Light';
      }
    }
  }
}

.page-store-manage-attendance {
  .autodialog-content {
    overflow: visible;
  }
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    background: transparent;
    .ui-dialog-titlebar,
    .autodialog-content {
      background: #ffffff;
      width: 500px !important;
      margin: 0 auto;
    }
    .ui-dialog-titlebar {
      margin-top: 236px;
    }
  }
  section.content {
    padding: 0px;
  }
  .tab-navigations {
    ul.tabs-menu {
      li {
        width: 25%;
      }
    }
  }
  .views-exposed-widgets {
    #edit-date-filter-value-datepicker-popup-0 {
      width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }
}

.page-store-manage-production {
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    background: transparent;
    .ui-dialog-titlebar,
    .autodialog-content {
      background: #ffffff;
      width: 500px !important;
      margin: 0 auto;
    }
    .ui-dialog-titlebar {
      margin-top: 236px;
    }
  }
  section.content {
    padding: 0px;
  }
  .views-exposed-widgets {
    #edit-field-created-value-value-datepicker-popup-0,
    #edit-field-created-value-1-value-datepicker-popup-0 {
      width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
    #edit-field-store-name-value {
      background: url(../../images/magnifier.jpg) no-repeat #f4f4f4;
      width: 250px !important;
      background-position: right 0px;
      background-size: auto 100%;
    }
  }
  .tab-navigations {
    ul.tabs-menu {
      display: table;
      width: 100%;
      li {
        display: table-cell;
        width: auto;
        float: none;
        a {
          font-size: 13px;
          padding: 11px 10px;
        }
      }
    }
  }
  table{
    background: #fff;
  }
}

.page-store-manage-inventory {
  section.content {
    padding: 0px;
  }
  .tab-navigations {
    ul.tabs-menu {
      display: table;
      width: 100%;
      li {
        display: table-cell;
        width: auto;
        float: none;
        a {
          font-size: 13px;
          padding: 11px 10px;
        }
      }
    }
  }
  table{
    background: #fff;
  }
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    background: transparent;
    z-index: 10000 !important;
    border: none;
    .ui-dialog-titlebar,
    .autodialog-content {
      background: #ffffff;
      margin: 0 auto;
    }
    .ui-dialog-titlebar {
      margin-top: 136px;
    }
    .ui-dialog-titlebar,
    .autodialog-content {
      width: 500px !important;
    }
    form {
      padding: 20px 0px 0px;
      .field-type-number-float,
      .field-type-text-long {
        padding: 0px 30px;
      }
    }

  }
}

.page-store-manage-sales-transaction {
  section.content {
    padding: 0px;
  }
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    background: transparent;
    z-index: 10000 !important;
    border: none;
    .ui-dialog-titlebar,
    .autodialog-content {
      background: #ffffff;
      margin: 0 auto;
    }
    .ui-dialog-titlebar {
      margin-top: 136px;
    }
    &.manage-transaction-form {
      .ui-dialog-titlebar,
      .autodialog-content {
        width: 800px !important;
      }
      .autodialog-content {
        padding: 30px 24px;
      }
    }
    &.manage-transaction-void-form {
      .ui-dialog-titlebar,
      .autodialog-content {
        width: 500px !important;
      }
      .autodialog-content {
        padding: 31px 24px;
      } 
      .ui-dialog-titlebar {
        border: none;
        height: 50px;
        .ui-dialog-title {
          display: none;
        }
      }
    }
  }
  .views-exposed-widgets {
    #edit-field-created-value-value-datepicker-popup-0 {
      width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }
  table {
    td {
      height: auto;
      padding: 8px 20px;
    }
    .views-field-nothing {
      padding: 8px;
      span {
        padding: 0px 5px;
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-right: -4px;
        a {
          display: inline-block;
          background: #f5f3f4;
          border: 1px solid #ececee;
        }
      }
    }
  }
}

.page-store-manage-cash-management { 
  .modal-dialog {
    form {
      padding: 0px 20px;
      table {
        tfoot {
          th, td {
            color: #fff;
            border: none;
          }
        }
      }
      input[type="number"],
      input[type="text"],
      input[type="string"] {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 6px 12px;
      }
    }
    #cash-management-pullout {
      padding: 0px 70px;
    }
  }
  section.content {
    padding: 0px;
  }
  .tab-navigations {
    ul.tabs-menu {
      li {
        width: 20%;
      }
    }
  }
  .view-content {
    margin-bottom: 20px;
  }
  .views-exposed-widgets {
    margin-bottom: 15px;
    #edit-date-filter-value-datepicker-popup-0,
    #edit-date-filter-1-value-datepicker-popup-0 {
      width: 250px !important;
      background: url(../../images/calendar.png) no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    background: transparent;
    z-index: 10000 !important;
    border: none;
    .ui-dialog-titlebar,
    .autodialog-content {
      background: #ffffff;
      margin: 0 auto;
      width: 800px !important;
    }
    .ui-dialog-titlebar {
      margin-top: 136px;
    }

    &.edit-cash-pullout-form,
    &.edit-cash-deposit-form {
      .ui-dialog-titlebar,
      .autodialog-content {
        width: 500px !important;
      }
    }
  }
  table {
    background: #fff;
  }
}

.production.inventory-wastage,
.production.production-wastage {
  div {
    width: 100%;
  }
}


/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {
  
}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  .view-id-manage_employee.view-display-id-page_1 {
    .views-exposed-widgets {
      .views-exposed-widget {
        width: 50%;
        margin-bottom: 5px;
      }
    }
  }
  table:not(.table-condensed) {
    th, td {
      padding: 0.2rem 0.3rem !important;
      font-size: 0.3rem !important;
      height: auto;
    }
    td {
      img {
        max-height: 0.6rem;
      }
    }
    a.autodialog,
    button.btn {
      padding: 0.1rem 0.3rem;
      font-size: 0.0rem;
      margin: 0px;
      span {
        font-size: 0.3rem;
      }
    }
    th.fc-day-header,
    td.fc-day-number {
      font-size: 15px !important;
    }
  }
  .fc-content-skeleton {
    td, th {
      a.autodialog,
      button.btn {
        font-size: 0.0rem;
        span {
          font-size: 0.5rem !important;
        }
      }
    }
  }
  table.ui-datepicker-calendar {
    th, td {
      height: auto;
      padding: 1px !important;
      font-size: 0.9rem !important;
    }
  }
  .bootstrap-timepicker-widget.dropdown-menu {
    table {
      th, td {
        font-size: 14px !important;
      }
    }
  }
  input[type="date"] {
    margin: 25px 0px 0px;
    font-size: 13px !important;
  }
  .page-store-manage-inventory,
  .page-store-manage-production,
  .page-store-manage-cash-management {
    .views-submit-button {
      display: none !important;
    }
    
    .tab-navigations {
      ul.tabs-menu {
        display: block;
        height: auto;
        border: none;
        background: transparent;
        li {
          display: inline-block;
          vertical-align: top;
          width: 25%;
          margin-right: -4px;
          border-right: none;
          border: 1px solid #e7e7e7;
          background: #fff;
          margin-top: -1px;
          float: none;
          a {
            padding: 10px 5px;
            font-size: 11px;
          }
        }
      }
    }
  }
  .page-store-manage-cash-management {
    .tab-navigations {
      ul.tabs-menu {
        li {
          width: 20%;
        }
      }
    }
  }
  .page-store-manage-attendance {
    .ui-dialog {
      .ui-dialog-titlebar {
        margin-top: 80px;
      }
    }
  }
  button#transaction-view,
  button#transaction-void {
    font-size: 0.3rem;
    padding: 0.2rem 0.3rem !important;
    float: none;
    display: inline;
  }
  button#transaction-view {
    margin-right: 3px;
  }
  .page-store-manage-sales-transaction {
    table {
      td.ng-binding {
        padding: 0.2rem 0.3rem !important;
      }
    }
  }
  .page-employee-schedule {
    .actions-box {
      width: 40%;
    }
    .calendar-box {
      width: 60%;
    }
  }
}

@media (max-width: 991px) {
  .page-store-manage-attendance {
    .tab-navigations {
      ul.tabs-menu {
        height: auto;
        border-bottom: none;
        li {
          display: inline-block;
          margin-right: -4px;
          vertical-align: top;
          width: 50%;
          float: none;
          border-right: none;
          border-bottom: 1px solid #e7e7e7;
          &:nth-child(odd) {
            border-right: 1px solid #e7e7e7;
          }
        }
      }
    }
  }
  .page-store-manage-inventory,
  .page-store-manage-production,
  .page-store-manage-cash-management {
    .tab-navigations {
      ul.tabs-menu {
        li {
          width: 33.33%;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .page-employee-schedule {
    .fc-toolbar {
      .fc-left {
        float: none;
        .fc-button-group,
        .fc-today-button {
          float: none;
          display: inline;
        }
      }
      .fc-left>*>* {
        float: none;
      }
      .fc-right {
        float: none;
        .fc-button-group {
          float: none;
        }
      }
      .fc-right>*>* {
        float: none;
      }
      .fc-today-button {
        margin-left: 0px;
      }
      .fc-left,
      .fc-right {
        display: inline-block;
        width: 50%;
        margin-right: -4px;
        vertical-align: top;
        height: 32px;
      }
      .fc-center {
        display: block;
        h2 {
          font-size: 21px;
          padding-top: 20px;
          float: none;
        }
      }
    }
    td.fc-widget-header {
      .fc-row.fc-widget-header {
        margin-right: 0px !important;
      }
    }
    .fc-row.fc-week.fc-widget-content {
      margin-right: 0px !important;
    }
    .fc-day-grid-container.fc-scroller,
    .fc-time-grid-container.fc-scroller {
      height: auto !important;
      overflow-y: auto;
    }
    .fc-time-grid-container {
      height: auto !important;
    }
    .actions-box {
      width: 100%;
    }
    .calendar-box {
      width: 100%;
    }
  }
}

@media (max-width: 815px) {
  .page-employee-schedule {
    .daterangepicker {
      width: 100%;
      -webkit-box-shadow: 0px 0px 13px 1px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 13px 1px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 13px 1px rgba(50, 50, 50, 0.75);
      &:before,
      &:after {
        display: none;
      }
      .calendar {
        width: 40%;
        max-width: 40%;
      }
      .ranges {
        width: 20%;
        max-width: 20%;
      }
    }
  }
}

/* Ipad - portrait orientation */
@media (max-width: 767px) {
  .page-employee-schedule {
    
  }
}

@media (max-width: 660px) {
  .page-employee-schedule {
    .daterangepicker {
      .calendar {
        width: 33.33%;
        max-width: 33.33%;
        table {
          td, th {
            min-width: initial;
            padding: 3px;
            font-size: 0.8em;
          }
        }
      }
      .ranges {
        width: 33.33%;
        max-width: 33.33%;
      }
    }
  }
}

@media (max-width: 580px) {
  .page-employee-schedule {
    .daterangepicker {
      .calendar {
        width: 35%;
        max-width: 35%;
        .calendar-time {
          select {
            width: 31px;
            padding: 0px 0px 0px 4px;
          }
        }
      }
      .ranges {
        width: 30%;
        max-width: 30%;
      }
    }
  }
}

@media (max-width: 550px) {
  .ui-dialog {
    width: 100% !important;
    top: 0px !important;
    left: auto !important;
    right: auto;
    .autodialog-content {
      padding: 12px 15px;
    }
    .ui-dialog-titlebar,
    .autodialog-content {
      width: 100% !important;
      margin-top: 0px;
      #edit-group-button {
        input[type="submit"] {
          padding: 8px 25px !important;
        }
      }
    }
  }
  .page-store-manage-production {
    .tab-navigations {
      ul.tabs-menu {
        li {
          width: 50%;
        }
      }
    }
  }
  .page-store-manage-attendance {
    .ui-dialog {
      .ui-dialog-titlebar,
      .autodialog-content {
        margin-top: 0px;
        width: 100% !important;
      }
      input[type="submit"] {
        padding: 8px 15px;
      }
    }
  }
  .page-store-manage-cash-management  {
    .modal-footer.ng-scope {
      button {
        padding: 8px 15px;
      }
    }
  }
  span.user-note {
    display: block;
    margin-left: 0px;
    margin-top: 10px;
  }
  .page-employee-schedule {
    .daterangepicker {
      .calendar {
        width: 50%;
        max-width: 50%;
      }
      .ranges {
        width: 100%;
        max-width: 100%;
      }
    }
    .ui-dialog {
      .ui-dialog-titlebar,
      .autodialog-content {
        width: 100% !important;
        margin-top: 0px !important;
      }
    }
  }
}

@media (max-width: 420px) {
  .page-store-manage-inventory,
  .page-store-manage-cash-management {
    .tab-navigations {
      ul.tabs-menu {
        li {
          width: 50%;
        }
      }
    }
  }
  .page-store-manage-cash-management { 
    .modal-dialog {
      form {
        padding: 0px 10px;
        input[type="number"],
        input[type="text"],
        input[type="string"] {
          padding: 0.2rem 0.3rem;
        }
      }
      #cash-management-pullout {
        padding: 0px 10px;
      }
    }
  }
}

@media (max-width: 380px) {
  .view-id-manage_employee.view-display-id-page_1 {
    .views-exposed-widgets {
      .views-exposed-widget {
        width: 100%;
      }
    }
  }
  .page-employee-schedule {
    .fc-toolbar {
      .fc-left,
      .fc-right {
        width: 100%;
      }
      .fc-left {
        text-align: center;
        margin-bottom: 5px;
        .fc-button-group,
        .fc-today-button {
          display: inline-block;
          float: none;
        }
      }
    }
  }
  .page-store-manage-attendance {
    .form-item-date-filter-value-date {
      input[type="text"] {
        font-size: 13px !important;
      }
    }
    .views-submit-button {
      display: none !important;
    }
    .tab-navigations {
      ul.tabs-menu {
        li {
          a {
            padding: 10px 5px;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  .page-employee-schedule {
    .daterangepicker {
      .calendar {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 350px) {
  .page-store-manage-production {
    .tab-navigations {
      ul.tabs-menu {
        li {
          a {
            font-size: 10px;
            padding: 5px 2px;
          }
        }
      }
    }
  }
}