section.content-header {
  h1.page-header {
    font-family: 'Source Sans Pro Light';
    font-weight: bold;
    padding-bottom: 0px;
  }
}

h2.element-invisible {
  display: none;
}

ul.nav.nav-tabs,
.region-content {
  background: #fff;
}

ul.nav.nav-tabs {
  border-bottom: 1px solid #f2f2f2;
  li {
    a {
      margin: 0;
      border-radius: 0px;
      border-top: 5px solid #ffffff;
      padding: 10px 30px 15px;
      span {
        font-family: 'Source Sans Pro Regular';
        color: #333;
        font-weight: bold;
        font-size: 14px;
      }
      &:hover {
        border-top: 5px solid #f2f2f2;
      }
    }
    &.active {
      a {
        border-top: 5px solid #01bff1;
      }
    }
  }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border: 1px solid #f2f2f2;
  border-bottom: 1px solid #fff;
}

.region-content {
  border: 1px solid #f2f2f2;
  border-top-color: #ffffff;
  padding-bottom: 0px;
}

.profile {
  section.right,
  section.center,
  section.left {
    display: inline-block;
    margin-right: -4px;
    width: 37.5%;
    vertical-align: top;
    padding: 0 15px;
  }

  section.left {
    width: 25%;
  }

  section.left {
    .photo-container {
      text-align: center;
      img {
        border-radius: 100%;
        width: 190px;
      }
    }
  }

  .field-row {
    margin: 12px 0px;
    .field-label,
    .field-items {
      display: inline-block;
      margin-right: -4px;
      vertical-align: top;
    }

    .field-label {
      width: 200px;
      color: #4D4D4D;
      font-family: 'Source Sans Pro Bold';
    }
    .field-items {
      color: #8b8b8b;
      font-family: 'Source Sans Pro Light';
      color: #8b8b8b;
      letter-spacing: 0.3px;
      font-size: 14px;
      a, span {
        font-family: 'Source Sans Pro Light';
        color: #8b8b8b;
        letter-spacing: 0.3px;
        font-size: 14px;
      }
    }
  }

  .profile-type-admin {
    section.center {
      width: 75%;
    }
    .fields-wrapper {
      margin-top: 0px;
    }
  }

  .profile-type-crew {
    .field-label {
      width: 30%;
    }
    .field-items {
      width: 70%;
      padding: 0px 10px;
    }
  }

  .field-name-field-store-franchised {
    margin: 37px 0px 10px;
    .field-label {
      font-size: 18px;
      margin-bottom: 13px;
    }
    .field-items {
      .field-item {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        a, span {
          display: inline-block;
          width: auto;
        }
        a {
          background: #999;
          padding: 5px 10px;
          color: #fff;
          span {
            font-family: 'Source Sans Pro Semibold';
            color: #fff;
            font-size: 14px;
            display: block;
            padding: 5px 10px;
          }
        }
      }
    }
  }

}

#user-profile-form {
  section {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    padding: 25px 35px;
    legend {
      display: none;
    }
  }

  section.left {
    width: 28%;
    padding: 25px 23px;
  }
  section.center {
    width: 36%;
  }
  section.right {
    width: 36%;
  }
  .center {
    position: relative;
  }

  .form-item {
    .description {
      display: none;
    }
  }

  .left {
    .user-picture {
      text-align: center;
      margin-bottom: 20px;
      a, span {
        display: inline-block;
      }
      img {
        border-radius: 100%;
        width: 190px;
        height: auto;
      }
    }
    .form-item-picture-delete {
      display: none;
    }
    .form-item-files-picture-upload {
      width: 230px;
      margin: 0 auto;
    }
    .description {
      display: block;
    }
  }

  .store-assignments {
    display: inline-block;
    width: 72%;
    vertical-align: top;
    float: right;
    padding-right: 35px;
    padding-left: 15px;
    margin-bottom: 50px;
    input[type="text"] {
      background: #fff;
      border: 2px solid #f2f2f2;
      border-radius: 5px;
    }
    table, th, td, tr, thead {
      border: none;
      background: transparent;
    }
    tbody {
      td {
        padding: 3px 0px;
      }
    }
    .field-name-field-store-franchised {
      padding-left: 25px;
      .clearfix {
        text-align: center;
        input[type="submit"] {
          width: auto;
          display: inline-block;
        }
      }
    }

    .select2-container {
      background: #ffffff;
    }
  }

  #field-store-add-more-wrapper label,
  h1.h1-bi {
    font-size: 20px;
    font-family: 'Source Sans Pro Regular';
    font-weight: bold;
    color: #555;
  }

  h1.h1-bi {
    position: absolute;
    top: -7px;
    left: 15px;
  }


  label {
    font-family: 'Source Sans Pro Bold';
    font-size: 14px;
    color: #505050;
  }

  input[type="text"],
  input[type="password"],
  select,
  .select2,
  #edit-roles {
    background: #F2F2F2;
    border: 1px solid #E6E6E6;
    width: 100%;
    font-family: 'Source Sans Pro Light';
    font-size: 13px;
  }
  .select2 {
    width: 100% !important;
    padding: 9px 12px;
    .select2-selection {
      border-radius: 0px;
      background: transparent;
      border: none;
      margin: 0px;
      padding: 0px;
      height: auto;
      .select2-selection__rendered {
        line-height: initial;
        padding: 0px;
        margin: 0px;
      }
    }
    .select2-selection__arrow {
      //top: 5px;
    }
  }

  .fields-wrapper {
    margin-top: 34px;
  }

  .profile-type-admin {
    .fields-wrapper {
      margin-top: 0px;
    }
    #admin-usertype-copy {
      border: none;
      background: transparent;
    }
  }

  #edit-actions {
    text-align: center;
    clear: both;
    #edit-submit {
      width: auto;
      display: inline-block;
      padding: 13px 100px;
    }
  }

  .date-no-float,
  .container-inline-date {
    width: 100%;
    float: none;
  }
  .form-item.form-type-date-popup.form-item-profile-main-field-birthdate-und-0-value,
  .form-item.form-type-date-popup.form-item-profile-main-field-date-of-hire-und-0-value,
  .form-item.form-type-date-popup.form-item-profile-main-field-end-of-contract-und-0-value {
    margin: 0px;
    display: block;
    width: 100%;
  }
  #edit-profile-main-field-birthdate-und-0-value,
  #edit-profile-main-field-date-of-hire-und-0-value,
  #edit-profile-main-field-end-of-contract-und-0-value,
  .form-item-profile-main-field-birthdate-und-0-value-date,
  .form-item-profile-main-field-date-of-hire-und-0-value-date,
  .form-item-profile-main-field-end-of-contract-und-0-value-date {
    padding: 0px;
    width: 100%;
  }
  .password-strength,
  div.password-confirm {
    display: none !important;
  }

  .password-parent,
  .confirm-parent {
    width: 100%;
  }

  #edit-roles {
    padding: 15px;
    .form-item {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      width: 50%;
      label {
        color: #555;
        font-family: 'Source Sans Pro Light';
      }
    }
  }
}

.select2-container {
  .select2-dropdown {
    border: 1px solid #e6e6e6 !important;
    margin-top: 5px;
    background: #f4f4f4;
    .select2-search {
      display: none;
    }
    ul.select2-results__options {
      // max-height: none;
      li.select2-results__option {
        padding: 10px 13px;
      }
    }
  }

  .select2-selection {
    ul.select2-selection__rendered {
      li.select2-selection__choice {
        font-size: 12px;
        font-weight: bold;
        background: #3C8DBC;
        border-radius: 8px;
        border-color: #3C8DBC;
        padding: 0 10px 4px 10px;

        span {
          position: relative;
          top: 2px;
          color: #fff;
          font-size: 15px;
          margin-right: 8px;
        }
      }
    }
  }
}

.access-information {
  border-top: 1px solid #f2f2f2;
  padding: 31px 40px;
  margin-top: 30px;
  h1 {
    margin: 0px;
    font-family: 'Source Sans Pro Regular';
    color: #343434;
    font-size: 18px;
  }
  .profile-links-wrapper {
    padding: 12px 0px;
    ul.profile-links {
      display: inline-block;
      width: 23%;
      margin-right: -4px;
      margin-left: -9px;
      vertical-align: top;
      li {
        color: #00c2f3;
        font-size: 24px;
        a {
          font-family: 'Source Sans Pro Light';
          color: #8b8b8b;
          letter-spacing: 0.3px;
          display: block;
          font-size: 14px;
          span {
            top: -3px;
            position: relative;
          }
        }
      }
    }
  }
  p.access-p {
    font-family: 'Source Sans Pro Light';
    color: #8b8b8b;
    letter-spacing: 0.3px;
    display: block;
    font-size: 14px;
    padding: 16px 12px;
  }
}

.region-bottom-content {
  padding-bottom: 90px;
  background: #fff;
  margin-top: -2px;
  padding: 30px;
  .block {
    border-top: 1px solid #f2f2f2;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    padding: 25px;
    .col-xs-12 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .box.box-solid {
      border-radius: 0px;
      border-top: 0px solid #d2d6de;
      margin-bottom: 00px;
      box-shadow: none;
    }
    h2 {
      margin: 0px;
      font-family: 'Source Sans Pro Regular';
      color: #343434;
      font-size: 18px;
      text-align: center;
      padding-bottom: 20px;
    }
  }
  #block-bms-visualization-monthly-performance {
    width: 70%;
    .knob-label {
      font-family: 'Source Sans Pro Regular';
      color: #666;
      font-size: 14px;
    }
    h2,
    .content {
      border-right: 1px solid #f2f2f2;
    }
    .content {
      margin-right: 0px;
    }
  }
  #block-bms-others-store-assignments-block {
    width: 30%;
    .content {
      padding: 0px;
    }
    .stores-wrapper {
      .store-item {
        display: inline-block;
        background: #999;
        margin: 0px 5px 5px 0px;
        span {
          font-family: 'Source Sans Pro Semibold';
          color: #fff;
          font-size: 14px;
          display: block;
          padding: 5px 10px;
          
        }
      }
    }
  }
}

div.password-suggestions {
  width: auto !important;
}


/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {
  
}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  .profile {
    .profile-type-admin {
      section.left {
        width: 38%;
      }
      section.center {
        width: 62%;
      }
    }
    .field-row {
      .field-label,
      .field-items {
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
      }
      .field-label {
        width: 50%;
      }
      .field-items {
        width: 50%;
      }
    }
    .profile-type-crew {
      section.left {
        width: 100%;
        padding-bottom: 25px;
      }
      section.center,
      section.right {
        width: 50%;
      }
    }
  }
  .access-information {
    .profile-links-wrapper {
      ul.profile-links {
        margin-left: 0px;
        width: 50%;
        padding-left: 21px;
      }
    }
  }
  #user-profile-form {
    section {
      padding: 25px 15px;
    }
    section.left {
      width: 100%;
    }
    section.center,
    section.right {
      width: 50%;
    }
    .store-assignments {
      width: 100%;
      padding-right: 15px;
      .field-name-field-store-franchised {
        padding-left: 0px;
      }
    }
  }
  .region-bottom-content {
    #block-bms-visualization-monthly-performance,
    #block-bms-others-store-assignments-block {
      width: 100%;
    }
    #block-bms-visualization-monthly-performance {
      padding: 25px 0px 50px;
      h2,
      .content {
        border-right: none;
      }
      h2 {
        padding-bottom: 30px;
      }
    }
    #block-bms-others-store-assignments-block {
      padding: 25px;
    }
  }
}

@media (max-width: 900px) {
  .profile {
    .profile-type-admin {
      section.left {
        width: 100%;
      }
      section.center {
        width: 100%;
        padding: 16px 15px 0px 65px;
      }
    }
  }
  #user-profile-form {
    #edit-roles {
      .form-item {
        width: 100%;
      }
    }
  }
}

/* Ipad - portrait orientation */
@media (max-width: 767px) {
  .profile {
    .profile-type-admin {
      section.center {
        padding: 16px 15px 0px 107px;
      }
    }
  }
}

@media (max-width: 560px) {
  .profile {
    .profile-type-admin {
      section.center {
        padding: 16px 15px 0px 60px;
      }
    }
    .profile-type-crew {
      section.center,
      section.right {
        width: 100%;
      }
      section.right {
        margin-top: -10px;
      }
    }
  }
  .access-information {
    .profile-links-wrapper {
      ul.profile-links {
        margin-left: 0px;
        width: 100%;
      }
    }
  }
  ul.nav.nav-tabs {
    border-bottom: none;
    border: 1px solid #f2f2f2;
    background: transparent;
    margin-right: -5px;
    margin-left: -5px;
    li {
      display: inline-block;
      margin-right: -4px;
      float: none;
      vertical-align: top;
      width: 50%;
      border-bottom: none;
      margin-bottom: 7px;
      padding: 0px 5px;
      a {
        border-top: none;
        border-bottom: none;
        padding: 10px 30px;
        background: white;
        text-align: center;
        span {
          color: #333;
        }
        &:hover {
          border-top: none;
        }
      }
      &.active {
        border-bottom: none;
        border: none;
        border-right: none;
        a {
          border-right: none;
          border-top: none;
          background-color: #01bff1;
          border-bottom: none;
          color: #fff;
          span {
            color: #fff;
          }
        }
      }
    }
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: none;
  }

}

@media (max-width: 480px) {
  #user-profile-form {
    section {
      padding: 25px 5px 0px !important;
    }
    section.center,
    section.right {
      width: 100%;
    }
  }
  .region-bottom-content {
    padding: 30px 20px;
    #block-bms-visualization-monthly-performance {
      padding: 25px 0px;
      h2 {
        padding-bottom: 0px;
      }
      .content {
        padding: 0px;
      }
      .col-md-3 {
        width: 50%;
        margin-top: 20px;
        span.knob-box {
          display: inline-block;
        }
        .knob-label {
          top: 0px;
        }
      }
    }
  }
  .profile {
    .profile-type-crew {
      section.left,
      section.center,
      section.right {
        padding: 0 5px;
      }
    }
  }
}

@media (max-width: 420px) {
  .profile {
    .profile-type-admin {
      section.center {
        padding: 16px 15px 0px;
      }
    }
    .access-information {
      padding: 31px 15px;
    }
  }
}

@media (max-width: 380px) {
  ul.nav.nav-tabs {
    li {
      width: 100%;
      a {
        padding: 8px 15px 10px;
        span {
          font-size: 13px;
        }
      }
    }
  }

  .profile {
    .field-row {
      .field-label,
      .field-items {
        width: 100%;
      }
    }
  }
}