<div class="modal-header">
  <h1>Edit: {{ mtic.items.transaction_number }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="pullout">
        <table>
            <thead>
              <th>Category</th>
              <th>Item</th>
              <th>QTY</th>
              <th>&nbsp</th>
            </thead>
            <tbody>
              <tr>
                <td>{{ mtic.items.category }}</td>
                <td>{{ mtic.items.item}}</td>
                <td>
					<input type="number" name="quantity" string-to-number ng-value="mtic.items.qty" ng-change="mtic.updateTotal()" ng-model="mtic.items.qty">
				</td>
                <td>{{ mtic.items.uom }}</td>
              </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="mtic.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="mtic.save()">Save Changes</button>
</div>

