<div class="modal-header">
  <h1>Edit: {{ mpwc.items.item }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="production production-wastage">
        <div class="row-first">
            <label>QTY</label>
            <input type="number" name="quantity" string-to-number ng-value="mpwc.items.converted_qty" ng-change="mpwc.updateTotal()" ng-model="mpwc.items.converted_qty">
        </div>
        <div class="row-second">
            <label>REASON</label>
            <select 
			class="form-control" 
			name="show-filter" 
			ng-model="mpwc.items.reason" 
			ng-options="reasonsType.text as reasonsType.text for reasonsType in mpwc.reasons">

                <option ng-bind="reasonType.text"></option>

            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="mpwc.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="mpwc.save()">Save Changes</button>
</div>

