<div class="modal-header">
  <h1>Edit: {{items.data[0].transaction_no}}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form id="cash-management-pullout">
        <div ng-repeat="item in items.data">
            <span>
                <label>BANK</label>
                <input class="form-control" type="string" name="bank" ng-value="item.bank" ng-model="item.bank">
            </span>
            <span>
                <label>TRANSACTION NO.</label>
                <input class="form-control" type="string" name="transaction_no" ng-value="item.transaction_no" ng-model="item.transaction_no">
            </span>
            <span>
                <label>AMOUNT</label>
                <input class="form-control" type="number" name="amount" ng-value="item.amount" ng-model="item.amount" string-to-number>
            </span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="save(items.data, tabindex)">Save Changes</button>
</div>