<div class="modal-header">
  <h1>Edit: {{ abm.items.schedule }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="actual-attendance">
        <div class="time time-in">
            <label>Breakout</label>
            <input type="time" id="timein" name="time-in" ng-value="abm.items.break_out" ng-change="abm.updateMisc()" ng-model="abm.items.break_out" placeholder="HH:mm:ss">
        </div>
        <div class="time timeout">
            <label>Breakin</label>
            <input type="time" id="timeout" name="time-out" ng-value="abm.items.break_in" ng-change="abm.updateMisc()" ng-model="abm.items.break_in" placeholder="HH:mm:ss">
        </div>
    </form>
</div>
<div class="attendance modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="abm.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="abm.save()">Save Changes</button>
</div>