<div class="modal-header">
  <h1>Edit: {{ aam.items.schedule }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="actual-attendance">
        <div class="time time-in">
            <label>TIME-IN</label>
            <input type="time" id="timein" name="time-in" ng-value="aam.items.time_in" ng-change="aam.updateMisc()" ng-model="aam.items.time_in" placeholder="HH:mm:ss">
        </div>
        <div class="time timeout">
            <label>TIME-OUT</label>
            <input type="time" id="timeout" name="time-out" ng-value="aam.items.time_out" ng-change="aam.updateMisc()" ng-model="aam.items.time_out" placeholder="HH:mm:ss">
        </div>
    </form>
</div>
<div class="attendance modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="aam.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="aam.save()">Save Changes</button>
</div>

