<div class="modal-header">
  <h1>Edit: {{ miwc.items.item }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="production inventory-wastage">
        <div class="row-first">
            <label>QTY</label>
            <input type="number" name="quantity" string-to-number ng-value="miwc.items.qty" ng-change="miwc.updateTotal()" ng-model="miwc.items.qty">
        </div>
        <div class="row-second">
            <label>REASON</label>
            <select 
              class="form-control" 
              name="show-filter" 
              ng-model="miwc.items.reason"
              ng-options="reasonsType.text as reasonsType.text for reasonsType in miwc.reasons">

                <option ng-bind="reasonsType.text"></option>

            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="miwc.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="miwc.save()">Save Changes</button>
</div>

