<div class="modal-header">
  <h1>Edit: {{ miac.items.item }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="production">
        <label>QTY</label>
        <input type="number" name="quantity" string-to-number ng-value="miac.items.qty" ng-change="miac.updateTotal()" ng-model="miac.items.qty">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="miac.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="miac.save()">Save Changes</button>
</div>

