<div class="modal-header">
  <h1>Edit: {{ mpac.items.item }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="actual">
        <label>QTY</label>
        <input type="number" name="quantity" string-to-number ng-value="mpac.items.converted_qty" ng-change="mpac.updateTotal()" ng-model="mpac.items.converted_qty">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="mpac.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="mpac.save()">Save Changes</button>
</div>

