<div class="modal-header">
  <h1>Edit: {{ mdc.items.delivery_no }}</h1>
</div>

<div class="modal-body" id="modal-body">
    <form class="delivery">
        <table>
            <thead>
              <th>Category</th>
              <th>Item</th>
              <th>QTY</th>
              <th>&nbsp;</th>
            </thead>
            <tbody>
              <tr> 
                <td>{{ mdc.items.category }}</td>
                <td>{{ mdc.items.item }}</td>
                <td>
					<input type="number" name="quantity" string-to-number ng-value="mdc.items.qty" ng-change="mdc.updateTotal()" ng-model="mdc.items.qty">
				</td>
                <td>{{ mdc.items.uom }}</td>
              </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="mdc.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="mdc.save()">Save Changes</button>
</div>

