<div class="modal-header">
  <h1>Edit: {{ mpoc.items.item }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="production">
        <label>QTY</label>
        <input type="number" name="quantity" string-to-number ng-value="mpoc.items.converted_qty" ng-change="mpoc.updateTotal()" ng-model="mpoc.items.converted_qty">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="mpoc.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="mpoc.save()">Save Changes</button>
</div>

