<div class="modal-header">
  <h1>Transaction#: {{transaction[0][0].transaction_no}}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Item</th>
                <th>QTY</th>
                <th>Unit Price</th>
                <th>Amount Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sales in transaction[0] track by $index">
                <td>{{sales.category}}</td>
                <td>{{sales.item}}</td>
                <td><input ng-disabled="checkVoid(transaction[0][0].void)" type="number" name="quantity" ng-value="sales.quantity" string-to-number ng-model="sales.quantity"></td>
                <td>{{sales.unit_price | currency:"₱":2}}</td>
                <td>{{sales.quantity * sales.unit_price | currency:"₱":2}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Sub Total</th>
                <td colspan="3"> {{ subtotal() | currency:"₱":2}}</td>
            </tr>
            <tr>
                <th colspan="3">Less:Discount</th>
                <td colspan="3">{{ discount() | currency:"₱":2}}</td>
            </tr>
            <tr ng-repeat="sales in transaction_total[0]">
                <th colspan="3">Senior Citizen/PWD/EE ID # No</th>
                <td colspan="3">{{sales.misc_no}}</td>
            </tr>
            <tr>
                <th colspan="3">VAT</th>
                <td colspan="3">{{ vat() | currency:"₱":2}}</td>
            </tr>
            <tr>
                <th colspan="3">Total</th>
                <td colspan="3">{{grandtotal() | currency:"₱":2}}</td>
            </tr>
        </tfoot>
    </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="cancel()">Close</button>
    <button class="btn btn-block btn-primary button-right" ng-disabled="checkVoid(transaction[0][0].void)" ng-click="save(transaction[0])">Save</button>
</div>