<div class="modal-header">
  <h1>Edit: {{items.data[0].amount | currency:"₱":2}}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form id="cash-management-pullout">
        <div ng-repeat="item in items.data">
            <span>
                <label>REQUESTOR</label>
                <input class="form-control" type="string" name="requestor" ng-value="item.requestor" ng-model="item.requestor">
            </span>
            <span>
                <label>AMOUNT</label>
                <input class="form-control" type="number" name="amount" ng-value="item.amount" ng-model="item.amount" string-to-number>
            </span>
            <span>
                <label>REASON</label>
                <input class="form-control" type="string" name="reason" ng-value="item.reason" ng-model="item.reason">
            </span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="save(items.data, tabindex)">Save Changes</button>
</div>