<div class="modal-header">
  <h1>Edit: {{ mic.items.item }}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form class="beginning" data-id="{{mic.items.id}}" data-tid="{{mic.items._id}}">
        <label>QTY</label>
        <input type="number" string-to-number name="quantity" ng-value="mic.items.qty" ng-change="mic.updateTotal()" ng-model="mic.items.qty">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="mic.cancel()">Cancel</button>
    <button class="btn btn-block btn-primary button-right" ng-click="mic.save()">Save Changes</button>
</div>

