<div class="modal-header">
  <h1>Amount: {{total | currency:"₱":2}}</h1>
  <button class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    <form>
    <table>
        <thead>
            <tr>
                <th>Denomination</th>
                <th>QTY</th>
                <th>Amount Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items.data track by $index">
                <td>{{item.denomination}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.denomination * item.quantity | currency:"₱":2}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">Total</th>
                <td colspan="2">{{total | currency:"₱":2}}</td>
            </tr>
        </tfoot>
    </table>
    </form>
</div>