<div class="modal-header">
  <h1>Transaction#: {{transaction[0][0].transaction_no}}</h1>
  <button class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    <form>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Item</th>
                <th>QTY</th>
                <th>Unit Price</th>
                <th>Amount Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sales in transaction[0] track by $index">
                <td>{{sales.category}}</td>
                <td>{{sales.item}}</td>
                <td>{{sales.quantity}}</td>
                <td>{{sales.unit_price | currency:"₱":2}}</td>
                <td>{{sales.quantity * sales.unit_price | currency:"₱":2}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Sub Total</th>
                <td colspan="1"> {{ subtotal() | currency:"₱":2}}</td>
            </tr>
            <tr ng-repeat="sales in transaction_total[0]">
                <th colspan="4">Less:Discount</th>
                <td colspan="1">{{sales.less | currency:"₱":2}}</td>
            </tr>
            <tr ng-repeat="sales in transaction_total[0]">
                <th colspan="4">Senior Citizen/PWD/EE ID # No</th>
                <td colspan="1">{{sales.misc_no | currency:"₱":2}}</td>
            </tr>
            <tr>
                <th colspan="4">VAT</th>
                <td colspan="1">{{ vat() | currency:"₱":2}}</td>
            </tr>
            <tr>
                <th colspan="4">Total</th>
                <td colspan="1">{{grandtotal() | currency:"₱":2}}</td>
            </tr>
        </tfoot>
    </table>
    </form>
</div>