<div class="modal-header">
  <h1>{{items[0].store_name}}</h1>
</div>
<div class="modal-body" id="modal-body">
    <form>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Transaction Count</th>
                <th>Average Check</th>
                <th>Sales</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in items">
                <td>{{transaction.date}}</td>
                <td>{{transaction.transaction_count}}</td>
                <td>{{transaction.average_check | currency:"₱":2}}</td>
                <td>{{transaction.sales | currency:"₱":2}}</td>
                <td>{{transaction.sales_percentage | currency:"%":2}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="first-footer-modal">
                <td>Total</td>
                <td>{{ items[0].total_transaction_count }}</td>
                <td>{{ items[0].total_average_check | currency:"₱":2}}</td>
                <td>{{ items[0].total_sales | currency:"₱":2}}</td>
                <td>{{ items[0].total_sales_percentage | currency:"%":2}}</td>
            </tr>
            <tr class="second-footer-modal">
                <td>Average</td>
                <td>{{ items[0].avg_transaction_count }}</td>
                <td>{{ items[0].avg_total_sales/items[0].avg_transaction_count | currency:"₱":2}}</td>
                <td>{{ items[0].avg_total_sales | currency:"₱":2}}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    </form>
</div>