<div class="modal-header">
</div>
<div class="modal-body void" id="modal-body">
    <p>Are you sure you want to void this transasction?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-block btn-default button-left" ng-click="cancel()">No</button>
    <button class="btn btn-block btn-primary button-right" ng-click="voidtransaction()">Yes</button>
</div>

