/**
 * @file
 * css.
 */

.rules-messages-wrapper {
  bottom: 10px;
  left: 0;
  margin: 10px 10px 0;
  position: fixed;
  width: 340px;
}
.rules-message {
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 2px 15px #000;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 2px 15px #000;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 15px #000;
  color: #fff;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-shadow: 0px 1px 0px #262626;
  width: 320px;
}
.rules-message .body {
  overflow: hidden;
}
.rules-message .rnj-showmore {
  cursor: pointer;
  font-size: 80%;
  font-weight: bold;
  margin: 5px 0 0;
  text-align: right;
}
.rules-message .rnj-showmore:hover {
  text-decoration: underline;
}
.rules-message-popup .close-button,
.rules-message .close-button {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px #111;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #111;
  background: url(../img/close.gif) no-repeat 50% 50% #000;
  border-radius: 3px;
  box-shadow: 0 0 2px #111;
  cursor: pointer;
  display: block;
  height: 7px;
  margin: 0 0 0 10px;
  opacity: 0.6;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 7px;
}
.rules-message-popup .close-button:hover,
.rules-message .close-button:hover {
  opacity: 1;
}
.rules-message-popup .picture,
.rules-message .picture {
  float: left;
  height: 50px;
  margin: 0 10px 0 0;
  width: 50px;
}
.rules-message-popup .picture img,
.rules-message .picture img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: auto;
  max-width: 100%;
  width: auto;
}
.rules-message-popup .body,
.rules-message .body {
  overflow: hidden;
}
.rules-message-popup .subject,
.rules-message .subject {
  font-weight: bold;
}
.rules-message-popup {
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 2px 15px #000;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 2px 15px #000;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 15px #000;
  color: #fff;
  left: 50%;
  margin: 0 0 10px -310px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 10%;
  width: 600px;
  z-index: 10;
}
.rules-message-popup-overlay {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
}
.rules-message-popup .close-button {
  float: right;
  position: static;
}
