@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../fonts/SourceSansPro-Bold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/SourceSansPro-Light.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../fonts/SourceSansPro-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/SourceSansPro-Semibold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}