/* FONTS */
@import "fonts";

/* SITEWIDE COMMON STYLES TO BE PUT HERE*/
* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Source Sans Pro Regular';
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro Regular';
}

.hidden-container,
.ui-tooltip {
  display: none !important;
}

.content {
  min-height: initial;
}

h1.page-header {
  small {
    margin-left: 6px;
  }
}

/* Universal Page Header */
section.content-header {
  h1.page-header {
    font-family: 'Source Sans Pro Light';
    font-weight: bold;
    padding-bottom: 17px;
  }
}
/* END Universal Page Header */

/* Views No Results Styles */
.view-empty {
  .empty-inner {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    h1 {
      font-family: 'Source Sans Pro Bold';
      margin-bottom: 20px;
    }
    p {
      font-family: 'Source Sans Pro Light';
      margin-bottom: 2px;
    }
  }
}
/* END Views No Results Styles */

/* Universal Styles for Boxes */
.colored-boxes,
.view-boxes {
  .views-exposed-widgets {
    margin: 0 -20px;
    input[type="text"] {
      background: url(../images/magnifier.jpg) no-repeat #fff;
      background-position: right 0px;
      background-size: auto 100%;
      font-style: italic;
      margin: 0px;
      margin-top: 0px !important;
    }
    select {
      background: #f4f4f4;
    }
    input[type="submit"] {
      margin: 0px;
      margin-top: 0px !important;
    }
    .views-exposed-widget {
      display: inline-block;
      margin: 0px 0px 0px 0px;
      margin-right: 0px;
      vertical-align: top;
      padding: 0px 5px;
    }
  }
}

.colored-boxes {
  .view-content {
    margin: 30px -30px;
    .views-row {
      width: 20%;
      margin-right: -3px;
      padding: 0 15px;
      text-align: center;
      vertical-align: top;
      display: inline-block;
      .box.box-primary {
        border-radius: 0px;
        border-top: 5px solid #01bff1;
        .box-profile {
          padding: 20px 10px;

          .views-field-picture,
          .views-field-field-image {
            margin-bottom: 8px;
            a, span {
              display: inline-block;
            }
            img {
              height: auto;
              width: 120px;
            }
          }
          .views-field-rid {
            span, a {
              color: #999;
              font-size: 12px;
            }
          }
          .views-field-name {
            span, a {
              font-size: 14px;
              color: #333;
              font-weight: 700;
              text-transform: capitalize;
            }
          }
        }
        .box-footer {
          border-top: none;
          padding-top: 0px;
          padding-bottom: 15px;
        }
      }
    }
    .views-row:nth-child(5n+1) {
      .box.box-primary {
        border-top: 5px solid #01bff1;
      }
    }
    .views-row:nth-child(5n+2) {
      .box.box-primary {
        border-top: 5px solid #01a65a;
      }
    }
    .views-row:nth-child(5n+3) {
      .box.box-primary {
        border-top: 5px solid #f39d12;
      }
    }
    .views-row:nth-child(5n+4) {
      .box.box-primary {
        border-top: 5px solid #de4b39;
      }
    }
    .views-row:nth-child(5n+5) {
      .box.box-primary {
        border-top: 5px solid #3acccc;
      }
    }
  }
  .views-field-field-image,
  .views-field-picture {
    a, span {
      display: block;
    }
    img {
      border-radius: 50%;
      margin: 0 auto;
      width: 130px;
      height: auto;
      padding: 3px;
      border: 3px solid #d2d6de;
    }
  }
  .box-footer {
    div {
      display: inline-block;
      padding: 5px 14px;
      background: #e6e4e4;
      border-radius: 3px;
      border: 1px solid #c7c5c5;
      margin: 2px;
    }
  }
}

.view-boxes {
  .views-exposed-widgets {
    #edit-store-name-wrapper,
    #edit-title-wrapper,
    #edit-filter-store-name-wrapper {
      width: 350px;
    }
    #edit-field-store-ownership-value-wrapper {
      width: 210px;
    }
    #edit-field-area-tid-wrapper {
      width: 210px;
    }
    .views-submit-button {
      width: 100px;
    }
  }

  .view-content {
    margin: 20px -30px 30px;
    .views-row {
      display: inline-block;
      margin-right: -4px;
      vertical-align: top;
      width: 16.66%;
      padding: 9px 15px;
      //float: left;

      span, a {
        display: block;
        color: #4D4D4D;
        font-family: 'Source Sans Pro Regular';
        font-size: 15px;
        width: 100%;
      }

      .views-field-title,
      .views-field-field-area,
      .views-field-field-store-name,
      .views-field-field-item-autofill,
      .views-field-field-item,
      .views-field-field-category {
        border: 1px solid #808080;
        background: #fff;
        height: 70px;
        .field-content {
          height: 70px;
          width: 100%;
          display: table;
        }
        a {
          height: 100%;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }


    }
  }
}
/* END Universal Styles for Boxes */

/* Styles for Tab navigations */
.tab-navigations {
  ul.tabs-menu {
    margin: 0px;
    padding: 0px;
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    margin-top: 10px;
    height: 42px;
    li {
      display: inline-block;
      vertical-align: top;
      border-right: 1px solid #e7e7e7;
      float: left;
      a {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        padding: 11px;
        font-family: 'Source Sans Pro Light';
        color: #333;
        font-weight: bold;
        position: relative;
        font-size: 14px;
      }
      &.active,
      &.current {
        a {
          font-family: 'Source Sans Pro Regular';
          color: #fff;
          background: #01bff1;
        }
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
/* END Styles for Tab navigations */

/* Styles for Tabs */
.tabbed-block {
  background: #fff;

  .body-tabs {
    width: 100%;
    background: #fff;
    margin-top: -1px;
    .tab-content {
      display: none;
    }
    #tab-0 {
      display: block;
    }
  }
}
/* END Styles for Tabs */

/* Universal Styles for tables */
tr.even, tr.odd {
  background-color: #fff;
  border-bottom: none;
  padding: 0px;
}
table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background: #e6e6e6;
    color: #444444;
  }
  th {
    border-bottom: none;
    padding: 9px 20px;
    font-family: 'Source Sans Pro Semibold';
  }
  tbody {
    border-top: none;
  }
  td {
    padding: 0px 20px;
    vertical-align: middle;
  }
  a.autodialog {
    display: inline-block;
    padding: 5px 14px;
    background: #f4f4f4;
    border-radius: 3px !important;
    border: 1px solid #eeeef0;
    margin: 2px;
    font-size: 12px;
    color: #333;
    span {
      color: #333;
    }
  }
  th {
    border: 1px solid #e6e6e6;
  }
  td {
    border: 1px solid #f0f0f0;
    height: 50px;
    font-family: 'Source Sans Pro Regular';
    img {
      max-height: 32px;
      width: auto;
    }
  }
  tbody {
    tr:nth-child(even) {
      background: #f9f9f9;
    }
  }
  tfoot {
    tr {
      padding: 8px 20px;
      background-color: #4d4d4d;
      td {
        color: #fff;
        border: 1px solid #4d4d4d;
      }
    }
  }
}
table.ui-datepicker-calendar {
  td {
    height: auto;
    padding: 1px !important;
  }
}
/* END Universal Styles for tables */

/* Styles for table tabs */
.tabled-report {
  .view-content {
    margin: 20px 0px 30px;
  }
}
/* END Styles for table tabs */

/* Styles for Breadcrumb */
.breadcrumb {
  color: #b5b5b7;
  font-size: 18px !important;
  padding: 0px 5px !important;
  width: 100%;
  text-align: right;
  a {
    display: inline-block;
    font-family: 'Source Sans Pro Regular';
    font-size: 14px;
    color: #4d4d4d;
    padding: 0px 5px;
    &.active {
      color: #1a1a1a;
    }
    &:last-child {
      font-family: 'Source Sans Pro Semibold';
    }
  }
}
/* END Styles for Breadcrumb */

.slicknav_menu {
  position: relative;
  z-index: 851;
}

/* Sidebar Menu Styles */
section.sidebar {
  ul.sidebar-menu {
    li {
      a {
        span {
          font-family: 'Source Sans Pro Semibold';
        }
      }
    }
  }
}
header.main-header {
  nav.navbar {
    span.logo-mini {
      display: none;
    }
  }
}
/* END Sidebar Menu Styles */

.ajax-progress-throbber {
  display: none !important;
}
.throbber-wrapper {
  position: absolute;
  top: 35%;
  z-index: 999;
  width: 100%;
  display: none;
  .throbber-inner {
    text-align: center;
    margin: 0px auto;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

.block-quicktabs {
  > h2 {
    display: none;
  }
}

/* FOR SITEWIDE PAGINATION */
.item-list {
  ul.pager {
    margin-top: 10px;
    padding-top: 15px;
    li {
      padding: 0px;
      margin: 0px 1px;
      a {
        display: inline-block;
        border-radius: 5px;
      }
    }
    li.pager-current {
      padding: 6px 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background: #01BFF1;
      color: #fff;
    }
  }
}
.dataTables_paginate.paging_full_numbers {
  text-align: center;
  margin-top: 20px;
  a.paginate_button {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0px 3px 5px;
    color: #3c8dbc;
    &:hover {
      background: #eee;
      border: 1px solid #ddd;
      padding: 5px 14px;
      border-radius: 5px;
    }
  }
}
/* END FOR SITEWIDE PAGINATION */

table.sticky-header {
  display: none;
}

input[type="date"],
input[type="week"],
input[type="month"] {
  width: 250px !important;
  background: url(../images/calendar.png) no-repeat #f4f4f4;
  background-position: 4% 50%;
  background-size: auto 54%;
  padding: 8px 12px;
  padding-left: 35px;
  font-style: normal;
  font-size: 14px !important;
  border-radius: 0px !important;
  font-family: 'Source Sans Pro Regular' !important;
  color: #4D4D4D !important;
  border: 1px solid #e6e6e6 !important;
  height: auto;
  line-height: normal !important;
  display: inline-block;
  margin: 25px 0px;
}

.views-exposed-widget {
  width: 250px;
  height: 40px;
}

.page-store-attendance,
.page-store-inventory-summary,
.page-store-production-summary,
.page-user-work-schedule {
  section.content {
    padding: 0px;
  }
  .views-exposed-widgets {
    input[type="text"] {
      // width: 250px !important;
      background: url('../images/calendar.png') no-repeat #f4f4f4;
      background-position: 4% 50%;
      background-size: auto 54%;
      padding-left: 35px;
      font-style: normal;
    }
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: -2px;
  width: 25px;
  height: 36px;
  margin-top: 2px;
  border-left: 1px solid #e6e6e6;
}

.email-word {
  word-wrap: break-word;
}

.sidebar-mini.sidebar-collapse {
  .sidebar-menu>li:hover>a>span:not(.pull-right),
  .sidebar-menu>li:hover>.treeview-menu {
    width: 227px;
  }
}

.dt-button-collection.dropdown-menu {
  z-index: 10000;
}

/* Responsive */
/* Desktop - Minimun */
@media (max-width: 1400px) {

}

/* Ipad - landscapre orientation */
@media (max-width: 1025px) {
  .colored-boxes {
    .view-content {
      margin: 30px -20px;
      .views-row {
        width: 33.33%;
        padding: 0 5px;
        .box.box-primary {
          .box-profile {
            min-height: 208px;
          }
        }
      }
      .views-row:nth-child(3n+1) {
        .box.box-primary {
          border-top: 5px solid #01bff1;
        }
      }
      .views-row:nth-child(3n+2) {
        .box.box-primary {
          border-top: 5px solid #01a65a;
        }
      }
      .views-row:nth-child(3n+3) {
        .box.box-primary {
          border-top: 5px solid #f39d12;
        }
      }
    }
  }
  .view-boxes {
    .views-exposed-widgets {
      #edit-store-name-wrapper,
      #edit-title-wrapper,
      #edit-filter-store-name-wrapper,
      #edit-field-store-ownership-value-wrapper,
      #edit-field-area-tid-wrapper,
      #edit-field-category-tid-wrapper,
      #edit-field-sub-category-tid-wrapper,
      #edit-field-item-inventory-status-value-wrapper,
      #edit-field-item-value-wrapper {
        width: 33.33% !important;
        margin-right: -4px;
        display: inline-block;
      }
    }
    .view-content {
      margin: 20px -20px 30px !important;
      .views-row {
        width: 20%;
        padding: 5px;
        a {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .logged-in.admin-menu {
    .main-sidebar {
      padding-top: 105px;
    }
  }
  .breadcrumb {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .view-boxes {
    .view-content {
      .views-row {
        width: 33.33%;
      }
    }
  }
}

@media (max-width: 850px) {
  table:not(.table-condensed) {
    th, td {
      padding: 0.2rem 0.3rem !important;
      font-size: 0.3rem !important;
      height: auto;
    }
  }
  table.ui-datepicker-calendar {
    th, td {
      height: auto;
      padding: 1px !important;
      font-size: 0.9rem !important;
    }
  }
}

/* Ipad - portrait orientation */
@media (max-width: 767px) {
  h1.page-header {
    small {
      margin-left: 0px;
      display: block;
      padding-left: 0px;
    }
  }
  header.main-header {
    a.logo {
      display: none;
    }
    nav.navbar {
      span.logo-mini {
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
      }
      .sidebar-toggle {
        padding: 5px 11px 5px 44px;
        height: 50px;
        &:before {
          position: relative;
          top: 10px;
          margin-left: 10px;
        }
      }
    }
  }
  .view-boxes {
    .views-exposed-widgets {
      #edit-store-name-wrapper,
      #edit-title-wrapper,
      #edit-filter-store-name-wrapper,
      #edit-field-store-ownership-value-wrapper,
      #edit-field-area-tid-wrapper,
      #edit-field-category-tid-wrapper,
      #edit-field-sub-category-tid-wrapper,
      #edit-field-item-inventory-status-value-wrapper,
      #edit-field-item-value-wrapper {
        width: 50% !important;
        margin-bottom: 5px;
      }
    }
  }
  .logged-in.admin-menu {
    .main-sidebar {
      padding-top: 100px;
    }
  }
  #block-menu-menu-bms-menu {
    h2 {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .colored-boxes {
    .view-content {
      .views-row {
        width: 50%;
      }
      .views-row:nth-child(2n+1) {
        .box.box-primary {
          border-top: 5px solid #01bff1;
        }
      }
      .views-row:nth-child(2n+2) {
        .box.box-primary {
          border-top: 5px solid #01a65a;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .colored-boxes {
    .view-content {
      .views-row {
        .box.box-primary {
          .box-profile {
            min-height: 182px;
            .views-field-picture,
            .views-field-field-image {
              margin-bottom: 8px;
              a, span {
                display: inline-block;
              }
              img {
                height: auto;
                width: 85px;
              }
            }
          }
        }
      }
    }
    .views-field-field-image,
    .views-field-picture {
      img {
        width: 85px;
      }
    }
  }
  .view-boxes {
    .view-content {
      .views-row {
        width: 50%;
      }
    }
  }
}


@media (max-width: 380px) {
  .view-boxes {
    .views-exposed-widgets {
      #edit-store-name-wrapper,
      #edit-title-wrapper,
      #edit-filter-store-name-wrapper,
      #edit-field-store-ownership-value-wrapper,
      #edit-field-area-tid-wrapper,
      #edit-field-category-tid-wrapper,
      #edit-field-sub-category-tid-wrapper,
      #edit-field-item-inventory-status-value-wrapper,
      #edit-field-item-value-wrapper {
        width: 100% !important;
      }
    }
  }
}

.not-front .logo-adjust img{
    width: 175px;
    margin-top: 50px;
}

.not-front .copyright {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    margin-left: 1%;
}

.store-image-preview img{
  height:190px !important;
  width:190px !important;
  border-radius:100% !important;
  margin-left:32% !important;
  margin-top:10% !important;
}


.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: 45px;
}

.ui-dialog #eck-entity-form-add-store-cashier-items .form-item-title,
.ui-dialog #eck-entity-form-add-store-cashier-items [id*="edit-field-product-name"],
.ui-dialog #eck-entity-form-add-store-cashier-items [id*="edit-field-product-code"],
.ui-dialog #eck-entity-form-add-store-cashier-items [id*="edit-field-category"],
.ui-dialog #eck-entity-form-add-store-cashier-items [id*="edit-field-selling-price-w-o-vat"],
.ui-dialog #eck-entity-form-add-store-cashier-items .field-name-field-vat,
.ui-dialog #eck-entity-form-add-store-cashier-items [id*="edit-field-price"],
.ui-dialog #eck-entity-form-edit-store-product.edit-product-form .form-item-title,
.ui-dialog #eck-entity-form-edit-store-product.edit-product-form [id*="edit-field-product-name"],
.ui-dialog #eck-entity-form-edit-store-product.edit-product-form [id*="edit-field-product-code"],
.ui-dialog #eck-entity-form-edit-store-product.edit-product-form [id*="edit-field-category"],
.ui-dialog #eck-entity-form-edit-store-product.edit-product-form [id*="edit-field-selling-price-w-o-vat"],
.ui-dialog #eck-entity-form-edit-store-product.edit-product-form .field-name-field-vat,
.ui-dialog #eck-entity-form-edit-store-product.edit-product-form [id*="edit-field-price"] {
  padding: 6px 5px;
}
