span.knob-box.bg-light-blue, span.knob-box.bg-yellow, span.knob-box.bg-red {
    padding: 30px 20px;
    border-radius: 10px;
    font-size: 20px;
}
span.knob-box.bg-green.absent {
    padding: 30px 35px;
    border-radius: 10px;
    font-size: 20px;
}
#block-bms-visualization-monthly-performance span + .knob-label {
    top: 50px;
    position: relative;
}